
//Text
.read-block {
  text-align: left;
  //.center();
}
.reveal ul {
  list-style: square;
}

.reveal pre {
  white-space: pre-line;
}

.unstyled {
  list-style: none;
}
ul.read-block {
  margin-left: 0;
}

.read-block li {
  margin-bottom: 10px;
}

.small-text {
  font-size: 70%;
}

label {
  font-size: 14px;
}

video {
  max-width: 100%;
}

//Colors

.blue-text { color: @blue; }
.bluedark-text { color: @blueDark; }
.red-text { color: @red; }
.orange-text { color: @orange; }
.yellow-text { color: @yellow; }
.green-text { color: @green; }
.pink-text { color: @pink; }
.purple-text { color: @purple; }

.blue-bg { background-color: @blue; }
.bluedark-bg { background-color: @blueDark; }
.red-bg { background-color: @red; }
.orange-bg { background-color: @orange; }
.yellow-bg { background-color: @yellow; }
.green-bg { background-color: @green; }
.pink-bg { background-color: @pink; }
.purple-bg { background-color: @purple; }

.blue-border { border-color: darken(@blue, 20%); }
.bluedark-border { border-color: darken(@blueDark, 20%); }
.red-border { border-color: darken(@red, 20%); }
.orange-border { border-color: darken(@orange, 20%); }
.yellow-border { border-color: darken(@yellow, 20%); }
.green-border { border-color: darken(@green, 20%); }
.pink-border { border-color: darken(@pink, 20%); }
.purple-border { border-color: darken(@purple, 20%); }


//Lab slide
.lab {
  body {
    background: #eee;
  }

  h1, h2, h3, h4, h5, p {
    color: #555;
  }
}

//Example divs
[id^="ex-"] {
  //width: 80%;
  //.center();

  margin-top: 20px;
  //border: 3px solid #3F3F3F;
  padding: 10px;
  box-shadow: 0 0 5px #000;
  background: #fff;
  
  form {
    .center();
    width: 70%;
    text-align: left;
    line-height: 70%;
  }
}

//Tables
.reveal {
  table {
    .center();

    // tables in slides with browser support info
    width: auto;

    th, td {
      text-align: center;
      font-size: 70%;
      line-height: 120%;
    }

    td.read-block {
      text-align: left;
    }

    tbody th {
      text-align: left;
    }
  }
}

// browser support mixin

@browserBgWidth: 50px;
// a slide that contains a .browser-support container
.browser-support-container {
  box-sizing: border-box;
  padding-right: 100px;

  > .browser-support {
    width: 90px;
    margin-right: -100px;
  }
}
.browser-support {
  padding: 0 0 0 10px;
  overflow: hidden;
  float: right;
}
.support {

  width: @browserBgWidth;
  height: @browserBgWidth;
  float: left;
  clear: left;
  background: url(../raster/browsers.png) no-repeat 0 0;

  &.ff { background-position: -@browserBgWidth 0; }
  &.safari { background-position: -2*@browserBgWidth 0; }
  &.msie { background-position: -3*@browserBgWidth 0; }
  &.opera { background-position: -4*@browserBgWidth 0; }

}
.support-version {
  float: left;
  margin-top: 14px;
  font-size: 16px;
}

//Citing sources and annotations
.source, .annotation {
  position: absolute;
  bottom: 0px;
  right: 0px;
  font-size: 50%;
}

.annotation {
  font-size: 70%;
}

//priorities mixin

.priorities {
  display: table;
    border-collapse: separate;
    border-spacing: 40px 20px;
    .center();

  & > .labels, & > .levels {
    display: table-row;
  }
}

.labels > small {
  display: table-cell;
  width: 100px;
}

.levels > .priority-level {
  display: table-cell;
  padding: 10px 0;
  border: 1px solid black;
  min-width: 90px;
}

//Bootstrap's span examples
.grid-block {
  border-radius: 4px;
  background-color: #ccc;
  margin-bottom: 15px;
  line-height: 200%;
  font-size: 60%;
}

//Viewport examples
.viewport-example, .viewport-mobile-example {
  padding: 20px;
  background: @grayLight;
  border: 5px solid @grayDark;
  width: 60%;
  .center();
  position: relative;

  .ipsum {
    color: black;
  }
  p.ipsum {
    font-size: 50%;
  }
  .picture {
    height: 100px;
  }
  .visible-viewport {
    position: absolute;
    top: 5px;
    left: 10%;
    height: 90%;
    width: 30%;
    border: 6px solid black;
    background-color: fadeout(@blue, 80%);
  }
}

.viewport-mobile-example {
  width: 100%;

  .ipsum {
    font-size: 60%;
  }

  p.ipsum {
    font-size: 40%;
  }
}

//Wufoo.com browser support table
.reveal .wufoo-support-table {
  td, th {
    font-size: 45%;
    padding: 8px 4px;
  }
  .browser {
    width: 50px;
    height: 50px;
    background: url(../raster/browsers.png) no-repeat 0 0;
    margin: 0 auto;
  }
  .yup {
    color: green;
  }
  .nope {
    color: red;
  }
  .kinda {
    color: orange;
  }
}

// CSS tables
.valign-table {
  display: table !important;
  margin: 0 auto;
  width: 100%;
}
.valign-row {
  display: table-row !important;
}
.valign {
  display: table-cell !important;
  vertical-align: middle;
  padding: 5px 10px;
}

.hide {
  display: none;
}

//Display example block
.display-example {
  margin: 10px 0;
  border: 2px black dashed;
  font-size: 200%;
  line-height: 150%;
  width: 100%;
}
