h2 {
	margin-top: 100px;
}
p {
	margin-bottom: 0;
	font-size: 14px;
}
img {
	width: 200px;
	height: 350px;
	float: right;
}
.card {
	position: absolute;
	left: 100px;
	overflow: hidden;
	background: #fff;

	padding: 20px;
	width: 350px;
	height: 350px;
	border: 2px solid #666;
	border-radius: 8px;
}
.card1 {
	top: 50px;
}
.card2 {
	top: 180px;
}
.card3 {
	top: 300px;
}
.card:hover {
	z-index: 999;
}
