a {
	float: left;
	width: 128px;
	height: 128px;
    background: url('sprite_furry.png') no-repeat top left;
}
a span {
	display: none;
}
li {
	-moz-transition: all .7s;
	-webkit-transition: all .7s;
	display: block;
	float: left;
}
li:hover {
	-webkit-transform: translateY(-20px) scale(1.2);
	-moz-transform: translateY(-20px) scale(1.2);
}
.sprite-delicious{ background-position: 0 0; } 
.sprite-delicious:hover,
li:target .sprite-delicious{ background-position: 0 -129px;} 
.sprite-facebook{ background-position: 0 -258px; } 
.sprite-facebook:hover,
li:target .sprite-facebook{ background-position: 0 -387px; } 
.sprite-rss{ background-position: 0 -516px; } 
.sprite-rss:hover,
li:target .sprite-rss{ background-position: 0 -645px; } 
.sprite-twitter{ background-position: 0 -774px; } 
.sprite-twitter:hover,
li:target .sprite-twitter{ background-position: 0 -903px; }
@-webkit-keyframes 'bounce' {
	  0% { -webkit-transform: translateY(0); }
	100% { -webkit-transform: translateY(-20px); }
}
@-moz-keyframes bounce {
	  0% { -moz-transform: translateY(0); }
	100% { -moz-transform: translateY(-20px); }
}
li:target a {
	-webkit-animation-name: 'bounce';
	-webkit-animation-duration: .3s;
	-webkit-animation-iteration-count: 6;
	-webkit-animation-direction: alternate;
	-webkit-animation-timing-function: ease-out;

	-moz-animation-name: bounce;
	-moz-animation-duration: .3s;
	-moz-animation-iteration-count: 6;
	-moz-animation-direction: alternate;
	-moz-animation-timing-function: ease-out;
}

