section
  h2 CSS Lint
  p CSS Lint analyzes your CSS and points out problems with your code.
  ul
    li Parsing errors
    li Possible Errors
    li Compatibility
    li Performance
    li Maintainability & Duplication

section(data-state="lab")
  h2 Lab: CSS Lint
  p Use CSS Lint to optimize css code