section
  h2 Performance
  ul.read-block
    li <b>.1 to 1 sec:</b> no feedback necessary
    li <b>1 to 10 sec:</b> add some feedback (spinners)
    li <b>> 10 sec:</b> the user is no longer here
  a.source(href="http://www.useit.com/papers/responsetime.html") Source: Jakob Nielsen

section
  h2 Impact on revenue
  ul.read-block
    li Google: +400 ms <b>-0.6% drop in searches/user</b>
    li Yahoo: +400 ms    <b>-5-9% full-page traffic</b>
    li Amazon: +100 ms <b>-1% sales</b>
    li Firefox: +2 seg   <b>-15% downloads</b>
  a.source(href="http://www.stevesouders.com/blog/2010/05/07/wpo-web-performance-optimization/") Source: Steve Souders

section
  h2 Impact on PageRank
  p Starting 2010, <b>Google has added page performance</b> to the PageRank algorithm
  a.source(href="http://googlewebmastercentral.blogspot.com/2010/04/using-site-speed-in-web-search-ranking.html") Source: Google

section
  h2 Best thing for performance
  p Aim for simplicity
  img(src="assets/raster/simplicity-1.png")

section
  img(src="assets/raster/typical-product.png")