@import "index/palette";

@baseFontSize:          18px;
@baseLineHeight:        25px;

body {
  padding-top: 0;
}

.navbar-fixed-top {
  position: static;
}

.how-to-li {
  list-style-type: circle;
}

h1 {
  margin-top: 50px;
}

article > header:first-child {
  margin-top: 30px;
  border-bottom: 1px solid black;
}

header + p {
  margin-top: 30px;
}

header > h2 {
  display: inline-block;
}

.back {
  display: inline-block;
  margin-left: 20px;
}

h3 {
  margin-top: 20px;
}

h4 {
  margin-top: 20px;
}

li {
  line-height: @baseLineHeight*1.2;
}

pre {
  word-wrap: break-word;
}

li > table {
  margin-top: 20px;
}

img {
  display: block;
  margin: 20px auto;
}

.lab_target() {
  padding-left: 20px;
  line-height: 2em;
  background: @terraterra;
}

@media screen {
  h1, h2, h3 {
    &:target {
      .lab_target();
      box-shadow: 0 0 2px 3px @terraterra;
    }
  }

  header:target {
    .lab_target();
    box-shadow: 0 0 4px 7px @terraterra;
  }
}

@media print {

  .navbar-fixed-top, nav, footer, .back {
    display: none;
  }

  body, p, h1, h2, h3 {
    color: black;
  }

  header {
    margin-top: 0;
  }

  section {
    page-break-after: always;

    &:last-child {
      page-break-after: avoid;
    }
  }

  img {
    max-width: 80%;
  }

  a {
    color: #333;

    &:after {
    content: " ("attr(href)")";
    }

    &[href^="#"]:after {
    content: "";
    }
  }

  pre > code {
    box-sizing: border-box;
    border: 1px solid #333;
    color: #222 !important;
    background: none !important;
    background-color: #ddd !important;
    opacity: 1;
    -webkit-print-color-adjust:exact;
    page-break-inside: avoid;

    span {
      color: #222 !important;
      opacity: 1 !important;
    }
  }

}

@media (min-width: 551px) {
  .ribbon {
    position: fixed;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;

    & > .forkme {
      display: block;
      width: 150px;
      height: 150px;

      text-indent: 110%;
      white-space: nowrap;
      overflow: hidden;

      background: url(https://s3.amazonaws.com/github/ribbons/forkme_left_red_aa0000.png) no-repeat 0 0;
      border: none;
      box-shadow: none;
    }
  }
}

/*

@media (max-width: 800px) {
  .row-fluid {
    .contents, .readme {
      float: none;
      display: block;
      width: auto;
      margin-left: 0;
    }
  }
}
@media (max-width: 550px) {

  body {
    background-attachment: scroll;
  }

  @hTopMargin2: 30px;
  @hTextHeight2: 70px;
  @hBgHeight2: 170px;

  header {
    position: static;
    width: auto;
    margin: auto;

    margin-top: @hTopMargin2;
    padding-bottom: @hBgHeight2;
    background-size: auto @hBgHeight2;
    height: auto;
    h1 {
      font-size: @hTextHeight2*0.4;
      line-height: @hTextHeight2*0.4;
    }
  }

  .content {
    margin-top: 0;
    padding: 22.5px 20px;
  }

  .wrapper {
    padding: 0 5px;
  }

  .ribbon {
    text-align: center;
    margin: 10px auto;
  }

}
*/