section
  h2 Browser support
  div(style="height: 520px; overflow-x: visible; overflow-y: scroll;")
    table.wufoo-support-table.table
      caption.
          Browser Support for New <b>HTML5</b> Input <b>Attributes</b>
      thead
        tr
          td
          th
            .browser(style="background-position: -50px;")
            div Firefox
          th
            .browser(style="background-position: -100px;")
            div Safari
          th
            .browser(style="background-position: -300px;")
            div Safari
          th
            .browser
            div Chrome
          th
            .browser(style="background-position: -200px;")
            div Opera
          th
            .browser(style="background-position: -150px;")
            div IE
          th
            .browser(style="background-position: -250px;")
            div Android
      tbody
        tr
          th Placeholder
          td.yup 4+
          td
            span.kinda 4
            | /
            span.yup 5+
          td.yup 4+
          td.yup 10+
          td
            span.kinda 11.10
            | /
            span.yup 11.50
          td.yup 10+
          td.yup 2.3+
        tr
          th Autofocus
          td.yup 4+
          td.yup 5+
          td.nope 5-
          td.yup 6+
          td.yup 11+
          td.yup 10+
          td.nope 2.3-
        tr
          th Maxlength
          td
            span.kinda 3.6
            | /
            span.yup 4+
          td.yup 5+
          td.yup 4+
          td.yup 6+
          td.yup 11+
          td
            span.kinda 9
            | /
            span.yup 10
          td.yup 2.3+
        tr
          th List (Datalist)
          td.yup 4+
          td.nope 5-
          td.nope 5-
          td.yup 20+
          td.yup 10.6+
          td.yup 10+
          td.nope 2.3-
        tr
          th Autocomplete
          td.yup 4+
          td.yup 5.2+
          td N/A
          td.yup 17+
          td.yup 10.6+
          td.nope 10-
          td.nope 2.3-
        tr
          th Required
          td.yup 6+
          td.nope 5-
          td.nope 5-
          td.yup 6+
          td.yup 10.6+
          td.yup 10+
          td.nope 2.3-
        tr
          th Pattern
          td.yup 4+
          td.nope 5-
          td.nope 5-
          td
            span.kinda 6
            | /
            span.yup 10+
          td.yup-nope-kinda
            span.kinda 10.6
            | /
            span.yup 11+
          td.yup 10+
          td.nope 2.3-
        tr
          th Spellcheck
          td.yup 3.6+
          td.yup 4+
          td.nope 5-
          td.yup 10+
          td.yup 11+
          td.yup 10+
          td N/A
        tr
          th Novalidate
          td.yup 4+
          td.nope 5-
          td.nope 5-
          td.yup 6+
          td.yup 10.6+
          td.yup 10+
          td.nope 2.3-
        tr
          th Formnovalidate
          td.yup 4+
          td.nope 5.2-
          td.nope 5-
          td.yup 6+
          td.yup 10.6+
          td.yup 10+
          td.nope 2.3-
        tr
          th Formaction/method/target
          td.yup 4+
          td.yup 5.2+
          td.yup 5+
          td.yup 10+
          td.yup 10.6+
          td.yup 10+
          td.nope 2.3-
        tr
          th Formenctype
          td.yup-nope-kinda ?
          td.yup-nope-kinda ?
          td.yup-nope-kinda ?
          td.yup-nope-kinda ?
          td.yup-nope-kinda ?
          td.yup-nope-kinda ?
          td.yup-nope-kinda ?
        //- tr
        //-   th Accept
        //-   td.yup 11+
        //-   td.yup 5.2+
        //-   td N/A
        //-   td.yup 10+
        //-   td.kinda 10.6+
        //-   td.yup 10+
        //-   td.nope 2.3-
        tr
          th Multiple
          td.yup 3.6+
          td.yup 5+
          td N/A
          td.yup 6+
          td.yup 11+
          td.yup 10+
          td.nope 2.3-
        tr
          th Min / Max / Step
          td.nope 11-
          td.yup 5+
          td.nope 5-
          td.yup 6+
          td.yup 10.6+
          td.yup 10+
          td.nope 2.3-
  a(href="http://wufoo.com/html5/").source wufoo.com