section
  h2 HTML5 Boilerplate
  p.read-block <b>HTML5 ready</b>, including the new tags
  p.read-block <b>Progressive enhancement</b>
  p.read-block <b>Mobile optimizations</b>
  p.read-block <b>Modernizr</b> already built-in 
  p.read-block Tons of <b>best practices</b> out-of-the-box

section
  h2 Custom Build
  ul.read-block
    li With/without responsive
    li With/without Bootstrap 
    li With/without jQuery
    li Includes almost everything in this course

section(data-state="lab")
  h2 Lab: HTML5 Boilerplate
  p Build your first page using HTML5 boilerplate