section
  h2 Browser support
  table.table.wufoo-support-table
    caption
        | Browser Support for New 
        strong HTML5 
        | Input 
        strong Types
    thead
      tr
        td
        th
          .browser(style="background-position: -50px;")
          div Firefox
        th
          .browser(style="background-position: -100px;")
          div Safari
        th
          .browser(style="background-position: -300px;")
          div Safari
        th
          .browser
          div Chrome
        th
          .browser(style="background-position: -200px;")
          div Opera
        th
          .browser(style="background-position: -150px;")
          div IE
        th
          .browser(style="background-position: -250px;")
          div Android
    tbody
      tr
        th.
          Email
        td.yup 4+
        td.kinda 5+
        td.kinda 3.1+
        td
          span.kinda 6+
          | /
          span.yup 10+
        td.yup 10.6+
        td.yup 10+
        td.nope 2.3-
      tr
        th.
          Tel
        td.yup 4+
        td.yup 5+
        td.yup 3.1+
        td.yup 6+
        td.yup 10.6+
        td.yup 10+
        td.yup 2.3+
      tr
        th.
          Url
        td.yup 4+
        td.kinda 5+
        td.yup 3.1+
        td
          span.kinda 6+
          | /
          span.yup 10+
        td.yup 10.6+
        td.yup 10+
        td.nope 2.3-
      tr
        th.
          Search
        td
          span.kinda 3.6
          | /
          span.yup 4+
        td.yup 5+
        td.yup 4+
        td.yup 6+
        td.yup 10.6+
        td
          span.kinda 9
          | /
          span.yup 10+
        td.nope 2.3-
      tr
        th.
          Color
        td.nope 11-
        td.nope 5.2-
        td.nope 5-
        td.yup 20+
        td.yup 11+
        td.nope 10-
        td.nope 2.3-
      tr
        th.
          Number
        td.nope 11-
        td
          span.kinda 4
          | /
          span.yup 5.2+
        td.yup 4+
        td
          span.kinda 9-
          | /
          span.yup 10+
        td.kinda 11+
        td.nope 10-
        td.yup 2.3+
      tr
        th.
          Range
        td.nope 11-
        td.yup 4+
        td.yup 5+
        td.yup 6+
        td.yup 9+
        td.yup 10+
        td.nope 2.3-
      tr
        th.
          Date
        td.nope 11-
        td.kinda 5+
        td.nope 5-
        td
          span.kinda 10
          | /
          span.nope 17
          | /
          span.yup 20+
        td.yup 10.6+
        td.nope 10-
        td.nope 2.3-
  a(href="http://wufoo.com/html5/").source wufoo.com