
section
  h1 Chrome
  p Open dev console (F12 and then ESC)
  img(src="assets/raster/browsers.png")

section
  h2 Chrome console preferences
  p Dock to right

section
  h2 CSS inspector
  p.read-block <b>Alt + Up/Down</b>: &plusmn;0.1
  p.read-block <b>Up/Down</b>: &plusmn;1
  p.read-block <b>PgUp/PgDown</b>: &plusmn;10
  p.read-block <b>Shift + PgUp/PgDown</b>: &plusmn;100
  img(src="assets/raster/css-inspector.png")

section
  h2 Inline HTML edition
  img(src="assets/raster/edit-html.png")


section
  h2 Override user agent
  p <a href="http://fonts.googleapis.com/css?family=Ranchers" target="_blank">Test it here</a>
  img(src="assets/raster/override-user-agent.png")

section
  h2 Responsive design
  p Override device metrics
  img(src="assets/raster/override-device-metrics.png")

section
  h2 Network tab
  p.read-block Measure performance
  p.read-block Trace cache behavior (enable / disable cache or Shift+Ctrl+N)
  p.read-block Follow redirects
  img(src="assets/raster/network-tab.png")

section
  h2 Sources tab
  p Pretty print
  .row-fluid
    .span6
      img(src="assets/raster/before-prettyprint.png")
    .span6
      img(src="assets/raster/after-prettyprint.png")

section
  h2 Shortcuts
  ul
    li <b>Ctrl + O</b>: go to source
    li <b>Ctrl + G</b>: go to line
    li <b>Shift + Ctrl + O</b>: Go to member
    li <b>?</b>: see help
    img(src="assets/raster/open-file.png")