section
  h1 Sublime Text Editor

section
  h2 Package control
  a(href="http://wbond.net/sublime_packages/package_control") http://wbond.net/sublime_packages/package_control

section
  h2 Highly customizable
  p Default Vs User settings configuration
  h1.fragment Use user always!!!!

section
  h2 Project files
  pre
    code.
      { 
        "folders":
        [
          {
            "path": ".",
            "folder_exclude_patterns": ["node_modules"]
          }
        ],
        "settings":
        {
          "tab_size": 2,
          "translate_tabs_to_spaces": true,
          "word_wrap": "true"
        }
      }

section
  h2 Build system
  pre
    code.
      "build_systems" : [
        {
          "name": "parse_slides",
          "working_dir": "$project_path",
          "cmd": ["bin/jade-build", "$file"],
          "selector": "source.jade"
        },
        {
          "name": "compile_LESS",
          "working_dir": "$project_path",
          "cmd": [
            "node_modules/less/bin/lessc", "less/style.less", "generated/assets/css/style.css"
          ],
          "selector": "source.css.less"
        }
      ]

section
  h2 Configurable keyboard shortcuts
  p Existing layouts: Eclipse, Bean, TextMate 2, Vim...

section
  h2 Themes
  p Install new themes through package control

section
  h2 Sublime keyboard shortcuts
  ul
    li Command panel: <b>Ctrl + Shift + P</b>
    li Open file: <b>Ctrl + P</b>
    li Navigate between methods: <b>Ctrl + R</b>

section
  h2 Sublime keyboard shortcuts
  ul
    li Shift + Alt + W: Surround with tags
  div
    img(src="assets/raster/surround-with-tags.png")

section
  h2 Need more space?
  ul
    li <b>Shift + Alt + [123458]</b>: Open side by side
    li <b>Ctrl + K, Ctrl + B</b>: Toggle side bar
    li <b>Shift + F11</b>: Distraction free
  img(src="assets/raster/two-columns.png")

section
  h2 Block select
  p Shift + Right-button drag
  .row-fluid
    .span6
      img(src="assets/raster/block-select.png")
    .span6
      img(src="assets/raster/block-select-after.png")

section
  h2 Multiple cursors
  ul
    li Ctrl + click
    li Ctrl + double click
    li Ctrl + click, then shift + click
    li Select block, then Shift + Ctrl + L

section
  h2 Code commands
  ul
    li Duplicate line: <b>Shift + Ctrl + D</b>
    li Code comment: <b>Ctrl + /</b>
    li Retrieve closed tab: <b>Shift + Ctrl + P</p>

section
  h2 Snippets
  pre
    code.
      <snippet>
        &lt;content>&lt;![CDATA[
        Hello, ${1:this} is a ${2:snippet}.
        ]]>&lt;/content>
          &lt;!-- Optional: Set a tabTrigger to define how to trigger the snippet -->
          &lt;!-- &lt;tabTrigger>hello&lt;/tabTrigger> -->
          &lt;!-- Optional: Set a scope to limit where the snippet will trigger -->
          &lt;!-- &lt;scope>source.python&lt;/scope> -->
        &lt;/snippet>

section
  h2 Plugins
  p.read-block Install from package control
  ul
    li Zen Coding (html:5 and html structure)
    li SublimeLinter (Install tidy-html5 for html https://github.com/w3c/tidy-html5)