extend includes/layout

append title
  title Browsers and SEO

append slides
  section
    h1 Browsers and SEO

  include browsers-and-seo/browser-market

  include browsers-and-seo/ie-compatibility

  include browsers-and-seo/search-engines