extend includes/layout

append title
  title Classic HTML and CSS

append slides
  section
    h1 Classic HTML and CSS

  include classic-html/html

  include classic-html/css

  include classic-html/css-techniques

  section(data-state="lab")
    h2 Lab: Icon Bar and Button Bar
    p Create two button bars in CSS2

  include classic-html/css-resets

  include classic-html/css-frameworks

  include classic-html/print-css