extend modules/layout

include modules/mixins

append title
  title CSS3

append slides
  section
    h1 CSS3

  include css3/introduction

  include css3/selectors

  include css3/backgrounds-and-borders

  include css3/text

  //- The spec is 'Image Values'
  include css3/gradients

  //- rgba
  include css3/color

  section(data-state="lab")
    h2 Lab: CSS3 buttons
    p Repeat the buttons from previous module using just CSS3

  include css3/fonts


  include css3/ui

  include css3/transitions

  include css3/transforms

  section(data-state="lab")
    h2 Lab: Transitions

    p Add CSS transitions to the proposed page

  section
    h2 Important notice

    p These techniques should be use moderately

  include css3/animations

  //- display: table
  include css3/box-model

  include css3/columns

  //- user-select
  include css3/no-spec

  include css3/media-queries-rwd

  include css3/preprocessors

  section
    h2 Keep sharp
    ul
      li
        a(href="http://html5please.com") HTML5 Please
      li
        a(href="http://caniuse.com") When can I use...
      li
        a(href="https://developer.mozilla.org/") Mozilla Developer Network
      li
        a(href="http://www.quirksmode.org/") QuirksMode.org
      li
        a(href="http://csslint.net/") CSS LINT
      li
        a(href="http://css3clickchart.com/") CSS3 Click Chart
      li
        a(href="http://www.browsersupport.net") browsersupport.net
