extend modules/layout

include modules/mixins

append title
  title HTML 5

append slides
  section
    h1 HTML 5

  section
    h2 HTML5 browser support

    p Smartphones
    p http://delicious.com/html5css3/support
    p Polyfills

  section
    h2 doctype

    | BEFORE:
    pre
      code.
        &lt;!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

    | AFTER:
    pre
      code.
        &lt;!DOCTYPE html>

  section
    h2 html

    | BEFORE:
    pre
      code.
        &lt;html xmlns="http://www.w3.org/1999/xhtml">
    | AFTER:
    pre
      code.
        &lt;html>

  section
    h2 charset
    | BEFORE:
    pre
      code.
        &lt;meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    | AFTER:
    pre
      code.
        &lt;meta charset="utf-8">

  section
    h2 Charset defaults
    ul
      li http default: ISO8859-1
      li multipart/form data default: US ASCII
      li <strong>W3C official recommendation: UTF-8</strong>

  section
    h2 Charset best practices

    p HTTP header
    p <strong>Content-Type: text/html; charset=iso-8859-1</strong>
    p META tag
    p <strong>&lt;meta charset="utf-8"></strong>

  section
    h2 link

    | BEFORE:
    pre
      code.
        &lt;link href="styles.css" rel="stylesheet" type="text/css"/>
    | AFTER:
    pre
      code.
        &lt;link href="styles.css" rel="stylesheet"/>

  section
    h2 Typical <link> rel values
    pre
      code.
        &lt;link rel="XXX" href=”file”/>

    p stylesheet, favicon, rss, prefetching...

  section
    h2 favicon and touch icon
    p New <strong>touch icon</strong> for mobile devices
    p iPhone adds <strong>rounded corners, drop shadow and gleam</strong> - Android <strong>does not</strong>.

    pre
      code.
        &lt;link rel="shortcut icon" href="/favicon.ico">
        &lt;link rel="apple-touch-icon" href="/apple-touch-icon.png">

  section
    h2 Precomposed icons
    p The only kind supported by Android 2.1
    p Not supported by extremely old devices 

    pre
      code.
        &lt;link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png">

  section
    mixin browserSupport('13+', '3.6+', 'No', 'No', 'No')
    h2 rel=”prefetch” rel=”prerender”

    pre
      code.
        &lt;link rel="prefetch" href="big.jpg">
        &lt;link rel="prerender" href="next.html">

    p <strong>Prefetch</strong> the target link
    p Based on the <strong>read-only</strong> nature of GET requests
    p Also <strong>allowed for &lt;a> elements</strong>

  section
    h2 GET vs POST
    ul
      li GET: idempotent request
        ul
          li read-only operations, like retrieving data
      li POST: non-idempotent request
        ul
          li writeable operations, like storing or deleting data
      li Other: PUT, HEAD, DELETE

  section
    h2 rel=”alternate”
    p RSS autodiscovery

    pre
      code.
        &lt;link rel="alternate" type="application/atom+xml" href="http://www.example.com/xml/index.atom">

        &lt;link rel="alternate" type="application/rss+xml" title="RSS" href="http://www.example.com/xml/index.rdf">

  section
    h2 rel=”canonical”
    p Tell which one to use in case of multiple URLs

    pre
      code.
        &lt;link rel="canonical" href="http://myhost.com/mypage.html">

  section
    h2 Other 'rel' values
    p Used in <strong>&lt;link></strong> tags

    p home, contents, search, glossary, help, start, prev, previous, next, copyright, author – Navigate links

    pre
      code.
        &lt;link rel="next" href="page2.html">

  section
    h2 &lt;a> relationships

  section
    h2 rel=”license”
    p Specify the license applied to the current page.

    pre
      code.
        &lt;a href="http://creativecommons.org/licenses/by/2.0/" rel="license">
          cc by 2.0
        &lt;/a>

  section
    h2 rel=”nofollow”
    p Do not affect the PageRank of the link target

    pre
      code.
        | Hi, nice post. BTW, you cannot miss our new 
        &lt;a rel="nofollow" href="http://thespammer.com/recipes.html">
          ViaGra d0nuTs recipes!
        &lt;/a>
        
  section
    h2 Human computation
    p How modern spammers work

  section
    h2 Human computation (II)
    p Introducing porn guy

  section
    h2 Human computation (III)
    p Problem solved!

  section
    h2 Other 'rel' values
    p Used in &lt;a> tags
    ul
      li tag – The link target is an author-designated tag
      li me, friend – XHTML Friends Network (XFN)

    pre
      code.
        &lt;a href="http://technorati.com/tag/tech" rel="tag">tech&lt;/a>
        &lt;a href="http://jeff.example.org" rel="friend”>Jeff&lt;/a>

  section
    h2 Removed HTML elements
    p Use CSS instead:
    p <strong>big, center, font, strike</strong>

  section
    h2 Removed elements
    p Use iframe instead:
    p <strong>frame, frameset, noframes</strong>

  section
    h2 Removed elements
    p <strong>applet</strong>: replaced by object

  section
    h2 Removed attributes
    p <strong>align, background, bgcolor, border, cellspacing, cellpadding, height, marginheight, marginwidth, nowrap, scrolling, size, vspace, width...</strong>

    | http://www.w3.org/TR/html5-diff/#absent-attributes

  section
    h2 Importance tags
    ul
      li Use &lt;b>
        ul
          li text without specific emphasis or importance typically represented as bold text
          li keywords, product names, etc.
          li E.g.: Use &lt;b> to indicate bold text.
      li Use &lt;strong>
        ul
          li Strong semantic importance
          li E.g.: It is important that you do not mix styles up!

  section
    h2 Emphasis tags
    ul
      li Use &lt;i> 
        ul
          li text without emphasis or importance, typically represented as italic text
          li technical term, phrase from another language, a ship name, etc.
          li E.g.: Intoxicated from eating too much wasabi at once.
      li Use &lt;em>
        ul
          li Stress emphasis
          li Use different voice or mood
          li E.g.: This is not a place for cool people anymore.


  section
    h2 Form controls
    p <strong>12 new</strong> form controls

  section
    h2 Traditional form controls

    p <strong>text, checkbox, radio, textarea, password, select, file, button</strong>

  section
    mixin browserSupport('6+', '4+', '5+', '10+', '10.6+')
    h2 email
    pre
      code.
        &lt;input name=”email” type=”email”>

  section
    mixin browserSupport('6+', '4+', '5+', '10+', '10.6+')
    h2 url
    pre
      code.
        &lt;input name=”homepage” type=”url”>

  section
    mixin browserSupport('6+', 'No', '5+', '10+', '11+')
    h2 number

    pre
      code.
        &lt;input name=”amount” type=”number” min=”0” max=”100” step=”2” value=”0”>

  section
    mixin browserSupport('6+', '3.6+', '5+', '9+', '10.6+')
    h2 search
    pre
      code.
        &lt;input type="search" results="10" />

  section
    mixin browserSupport('6+', '4+', '5+', '10+', '10.6+')
    h2 tel
    pre
      code.
        &lt;input type="tel" placeholder="(555) 555-5555">

  section
    mixin browserSupport('6+', 'No', '5+', 'No', '10.6+')
    h2 date
    p date, time, month, week, datetime, datetime-local

    pre
      code.
        &lt;input type="date" min="2011-05-16" max="2011-08-21" value="2011-05-20">

  section
    mixin browserSupport('6+', '3.6+', '5+', '10+', '11+')
    h2 Multiple file upload
    pre
      code.
        &lt;input type="file" multiple="multiple" />

  section
    mixin browserSupport('20+', 'No', 'No', 'No', '11+')
    h2 color
    pre
      code.
        &lt;input type="color" placeholder="e.g. #2a2a2a">

  section
    mixin browserSupport('No', '4+', '5+', '10+', '10.6+')
    h2 datalist
    pre
      code.
        &lt;input type="text" list="mydata">
        &lt;datalist id="mydata">
          &lt;option label="Mr" value="Mister">
          &lt;option label="Mrs" value="Mistress">
          &lt;option label="Ms" value="Miss">
        &lt;/datalist>

  section
    h2 progress
    pre
      code.
        &lt;progress value="75" max="100">75 of 100&lt;/progress>

  section
    mixin browserSupport('6+', 'No', 'No', 'No', '10.6+')
    h2 meter
    p Only supported in Chrome and Opera
    pre
      code.
        &lt;meter min="0" max="100" value="91">91 of 100</meter>

  section
    h2 Browser support

  section(data-state="lab")
    h2 Lab: Forms 1
    p Create a HTML form using new controls

  section
    h2 New attributes
    p 15+ new tag attributes

  section
    mixin browserSupport('6+', '4+', '5+', '10+', '10.6+')
    h2 required
    pre
      code.
        &ltinput name="q" required>

  section
    mixin browserSupport('10+', '4+', '5+', '10+', '11.5+')
    h2 placeholder
    pre
      code.
        &lt;input name="q" placeholder="Search Bookmarks and History">

  section
    mixin browserSupport('6+', '4+', '5+', '10+', '11+')
    h2 autofocus
    pre
      code.
        &lt;input name="q" autofocus>

  section
    mixin browserSupport('6+', '4+', '5+', '10+', '10.6+')
    h2 pattern
    pre
      code.
        &lt;input type="text" pattern="[a-z]{3}[0-9]{3}">

  section
    mixin browserSupport('6+', 'No', '5+', '10+', '10.6+')
    h2 min, max, step
    pre
      code.
        &lt;input name=”amount” type=”number” value=”0” min=”0” max=”100” step=”2” >

  section
    h2 data-*
    p Method approved by the W3C to extend the DOM

    | GOOD:
    pre
      code.
        &lt;ul id=”friends”>
          &lt;li data-username=”jdoe”>John Doe</li>
          &lt;li data-username=”cnorris”>Chuck Norris</li>
        &lt;/ul>

    | BAD:
    pre
      code.
        &lt;ul id=”friends”>
          &lt;li class=”username-jdoe”>John Doe</li>
          &lt;li class=”username-cnorris”>Chuck Norris</li>
        &lt;/ul>

  section
    mixin browserSupport('10+', '3.6+', 'No', 'No', 'No')
    h2 form
    p <strong>input, select, textarea, button, fieldset</strong>
    p Supported in Chrome & FF3.6+
    pre
      code.
        &lt;label>
          Name:
          &lt;input type=”text” form=”create” name=”name”>
        &lt;/label>

        &lt;form id=”create”></form>

  section
    mixin browserSupport('No', '4+', 'No', '9+', '11.5+')
    h2 fieldset.disabled
    p Supported in IE9, Opera 11.5 & Firefox 4
    pre
      code.
        &lt;form>
          &lt;fieldset disabled>
            &lt;input type=”text” name=”name”>
            &lt;input type=”submit” value=”save”>
          &lt;/fieldset>
          &lt;fieldset>
            &lt;input type=”submit” value=”delete”>
          &lt;/fieldset>
        &lt;/form>

  section
    mixin browserSupport('6+', '4+', '5+', '10+', '11+')
    h2 New textarea attributes
    p maxlength=”number” (Chrome and FF4) spellcheck=”true|false”
    pre
      code.
        &lt;textarea name=”comments” maxlength=”100” spellcheck=”true”>

  section
    h2 Client-side validation
    p Opera
    p Other
    pre
      code.
        :invalid { 
          border-color: #e88;
          -webkit-box-shadow: 0 0 5px rgba(255, 0, 0, .8);
          -moz-box-shadow: 0 0 5px rgba(255, 0, 0, .8);
          box-shadow: 0 0 5px rgba(255, 0, 0, .8);
        }

  section
    mixin browserSupport('All', '4+', '5+', '10+', '9.6+')
    h2 Validation CSS selectors
    p :required and :optional
    p :valid and :invalid
    p :in-range and :out-of-range

  section
    mixin browserSupport('6+', '4+', 'No', '10+', '10.6+')
    h2 novalidate
    pre
      code.
        &lt;form novalidate>
          &lt;input type=”text” name=”username” required>
        &lt;/form>

        &lt;form>
          &lt;input type=”text” name=”username” required>
          &lt;input type=”submit” formnovalidate>
        &lt;/form>

  section
    mixin browserSupport('10+', '4+', 'No', '10+', '10.6+')
    h2 New submit button attrs
    p formaction, formenctype, formmethod, formnovalidate and formtarget

    pre
      code.
        &lt;form action=”/publish” method=”post”>
          &lt;input type=”submit” value=”publish” />
          &lt;input type=”submit” value=”save_draft” formaction="/save" />
          &lt;input type=”submit” value=”delete” formaction=”/delete” />
        &lt;/form>

  section
    h2 Browser support

  section(data-state="lab")
    h2 Lab: Forms2
    p Modify a form using HTML, CSS and client-side validation

  section
    h2 Feature detection vs browser sniffing
    | USER AGENT SNIFFING
    pre
      code.
        var dateSupport = 
          browser != 'IE' && 
          !(browser === 'Mozilla' && version < 4) &&
          !(browser === 'Webkit' && version < 1.5)
        ;  
    | FEATURE DETECTION
    pre
      code.
        var dateSupport = 
          (new Element('input', { type: 'date' }).type === 'date');

  section
    h2 Modernizr
    p Feature detection of HTML5 features
    pre
      code.
        &lt;html class="js flexbox canvas canvastext webgl no-touch geolocation postmessage websqldatabase no-indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms no-csstransforms3d csstransitions fontface video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths">

  section
    h2 Modernizr
    p CSS styles depending on supported features

    pre
      code.
        /* fallback */
        .fancy_button:hover {
          background-color: yellow;
          color: blue;
        }

        .cssanimations .fancy_button:hover {
          -webkit-animation-name: fancy-animation;
          -webkit-animation-duration:1s;
            ...
        }

  section
    h2 Modernizr
    p Also includes a javascript API

    pre
      code.
        if (Modernizr.input.placeholder) {
          …
        }
        if (Modernizr.video.ogg){ 
          … 
        } 

  section
    h2 Graceful downgrade
    p Design for javascript 
    p Downgrade for javascript-less

  section
    h2 Example: Date picker

  section
    h2 Progressive enhancement
    p Design for javascript-less
    p Enhance if javascript is enabled

  section
    h2 Date picker (again)

  section
    h2 Regressive enhancement
    p Design for modern browsers
    p Polyfill if feature is not supported

  section
    h2 Date picker (and III)

  section
    h2 polyfills
    p <strong>Simulate a feature</strong> if it's not natively supported by the browser
    pre
      code.
        yepnope({  
          test: Modernizr.input.placeholder,  
          nope: 'html5placeholder.jquery.js',
          callback: function() { 
            $('input[placeholder]').placeholder();
          }
        }); 

  section
    h2 Modernizr conclusions
    p Prepare a <strong>customized modernizr file</strong>
    p Detect <strong>supported features</strong>
    p Apply <strong>fallback and enhanced styles</strong>
    p Apply <strong>polyfills</strong>

  section(data-state="lab")
    h2 Lab: Modernizr
    p Review the last lab to give support to as many browsers as possible

  section
    h2 Microformats
    p <strong>microformats.org</strong>
    p <strong>Widespread adoption by the SEO crowd</strong>
    p <strong>Billions of pages</strong>
    p <strong>Different formats:</strong> Microformat, Microdata, RDFa

  section
    h2 schema.org
    p <strong>Widespread adoption</strong> by the Search engines including Bing, Google and Yahoo!

    p Uses <strong>microdata</strong> with <strong>itemscope</strong>, <strong>itemtype</strong> and <strong>itemprop</strong>

  section
    h2 Person
    p Contact details
    pre
      code.
        &lt;div itemscope itemtype="http://schema.org/Person">
          &lt;span itemprop="name">Jane Doe</span>
            &lt;a href="mailto:jane-doe@xyz.edu" itemprop="email">
            jane-doe@xyz.edu</a>
        &lt;/div>

  section
    h2 Person
    p Not all elements are required
    pre
      code.
        &lt;div itemscope itemtype="http://schema.org/Person">
          &lt;span itemprop="name">Jane Doe</span>
          &lt;img src="janedoe.jpg" itemprop="image" />
          &lt;div itemprop="address" itemscope  itemtype="http://schema.org/PostalAddress">
            &lt;span itemprop="streetAddress">20341 Whitworth Institute</span>
            &lt;span itemprop="addressLocality">Seattle</span>,
            &lt;span itemprop="addressRegion">WA</span>
            &lt;span itemprop="postalCode">98052</span>
          &lt;/div>
          &lt;a itemprop="telephone" href=”tel:+14251234567”>(425) 123-4567</a>
          &lt;a href="mailto:jane-doe@xyz.edu" itemprop="email">
            jane-doe@xyz.edu</a>
        &lt;/div>

  section
    h2 Event
    p Event info
    pre
      code.
        &lt;div itemscope itemtype="http://schema.org/Event">
          &lt;a href="http://www.example.com/events/spinaltap" itemprop="url name">Spinal Tap</a>
          &lt;img src="spinal_tap.jpg" itemprop="image" />
          When:
          &lt;meta itemprop="startDate" content="2015-10-15T19:00">
          Oct 15, 7:00PM
        &lt;/div>

  section
    h2 AggregateRating
    pre
      code.
        &lt;div itemscope itemtype="http://schema.org/Restaurant">
         &lt;span itemprop="name">L’Amourita Pizza</span>
         <img src="pizza.jpg" itemprop="image" />
         </span>
         &lt;span itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
            &lt;span itemprop="ratingValue">7</span> out of
            &lt;span itemprop="ratingCount">24</span> ratings.
         &lt;/span>
      &lt;/div>

  section
    h2 schema.org types understood by Google and others
    p Person, Event, Product, Place, Review, AggregateRating, VideoObject, Movie, etc.

  section(data-state="lab")
    h2 Lab: Schema.org
    p Modify the proposed page to introduce types and properties from schema.org

  section
    mixin browserSupport('All', '3+', 'All', '9+', '9+')
    h2 Semantic elements
    p New structural elements: <strong>section, nav, aside, header, footer</strong>

  section
    h2 Example
    pre
      code.
        &lt;body>
          &lt;header>
            &lt;hgroup>
              &lt;h1>Page title</h1>
              &lt;h2>Page subtitle</h2>
            &lt;/hgroup>
          &lt;/header>

          &lt;nav>
           &lt;ul>
              Navigation...
           &lt;/ul>
          &lt;/nav>

        &lt;aside>
           Top links...
        &lt;/aside>

    pre
      code.
        &lt;section>
          &lt;article>
            &lt;header>
              &lt;h1>Title</h1>
            &lt;/header>
            &lt;p>
              Content...
            &lt;/p>
          &lt;/article>
          &lt;article>
            ...
          &lt;/article>
        &lt;/section>

        &lt;footer>
          Copyright ©2010
        &lt;/footer>
        &lt;/body>


  section
    h2 Unknown elements
    p CSS style to apply
    p How to handle unknown elements

  section
    h2 CSS style of unknown elements
    p Add CSS style in case the semantic elements are not supported by the browser

    pre
      code.
        article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
          display:block;
        }

  section
    h2 Create semantic elements in IE
    p IE < 9 does not create DOM nodes for unrecognized semantic elements
    pre
      code.
        &lt;!--[if lt IE 9]>
        &lt;script>
          var e = ("abbr,article,aside,audio,canvas,datalist,details," +
          "figure,footer,header,hgroup,mark,menu,meter,nav,output," +
          "progress,section,time,video").split(',');
          for (var i = 0; i < e.length; i++) {
            document.createElement(e[i]);
          }
        &lt;/script>
        &lt;![endif]-->

  section
    h2 Short version
    pre
      code.
        &lt;!--[if lt IE 9]>
        &lt;script src="http://html5shiv.googlecode.com/svn/trunk/html5.js">
        &lt;/script>
        &lt;![endif]-->

  section
    mixin browserSupport('All', '3+', 'All', '9+', '9+')
    h2 header
    | OPTION 1
    pre
      code.
        &lt;header>
          &lt;h1>My Weblog&lt;/h1>
        &lt;/header>

    | OPTION 2
    pre
      code.
        &lt;header>
          &lt;hgroup>
            &lt;h1>Page title&lt;/h1>
            &lt;h2>Page subtitle&lt;/h2>
          &lt;/hgroup>
        &lt;/header>

  section
    mixin browserSupport('All', '3+', 'All', '9+', '9+')
    h2 article
    p Intended for content syndication

    | OLD
    pre
      code.
        &lt;div class=”article”>
          &lt;h2>Title&lt;/h2>
          &lt;p>
            Contents
          &lt;/p>
        &lt;/div>
    | NEW
    pre
      code.
        &lt;article>
          &lt;header>
            &lt;h1>Title</h1>
          &lt;/header>
          &lt;p>
            Contents
          &lt;/p>
        &lt;/article>

  section
    mixin browserSupport('All', '3+', 'All', '9+', '9+')
    h2 time
    p Represent a date/time in both machine (ISO8601) and human-readable format

    | OLD
    pre
      code.
        &lt;span class="date">Sept 01 2009&lt;/p>
    | NEW
    pre
      code.
        &lt;time datetime="2009-09-01" pubdate>Sept 01 2009&lt;/time>

        &lt;time datetime="2009-09-01">Last Thursday&lt;/time>

        &lt;time datetime="2009-09-01T13:59:47-04:00">20 minutes ago&lt;/time>

  section
    mixin browserSupport('All', '3+', 'All', '9+', '9+')
    h2 nav
    pre
      code.
        &lt;nav>
          &lt;ul>
            &lt;li>&lt;a href="/home">home&lt;/a>&lt;/li>
            &lt;li>&lt;a href="#">blog</a>&lt;/li>
            &lt;li>&lt;a href="#footer">about&lt;/a>&lt;/li>
          &lt;/ul>
        &lt;/nav>


  section
    mixin browserSupport('All', '3+', 'All', '9+', '9+')
    h2 aside
    p Content tangentially related
    ul
      li <strong>within article:</strong> related to the article
      li <strong>not within article:</strong> related to the website or page

    pre
      code.
        &lt;article>
          &lt;!-- inside article -->
          &lt;h1>Header&lt;/h1>
          &lt;p>Contents.&lt;/p>
          &lt;aside>
            &lt;q>God heals, and the doctor takes the fees – Benjamin Franklin&lt;/q>
          &lt;/aside>
        &lt;/article>

    pre
      code.
        &lt;aside>
          &lt;!-- outside of the article -->
          &lt;h1>Blogroll&lt;/h1>
          &lt;ul>
            &lt;li>&lt;a href="bob">Bob&lt;/a></li>
            &lt;li>&lt;a href="john">John&lt;/a>&lt;/li>
            &lt;li>&lt;a href="sarah">Sarah&lt;/a>&lt;/li>
          &lt;/ul>
        &lt;/aside>

  section
    mixin browserSupport('All', '3+', 'All', '9+', '9+')
    h2 section
    p Generic document or application section
    p Usually associated to a header
    p Not intended for styling or scripting (use div instead).
    p Don’t use if article, aside or nav is more appropriate

    pre
      code.
        &lt;section>
          &lt;h1>Header&lt;/h1>
          &lt;p>rest of the content
        &lt;/section>

  section
    mixin browserSupport('All', '3+', 'All', '9+', '9+')
    h2 figure
    p diagrams, illustrations, photos, and code examples

    pre
      code.
        &lt;figure>
          &lt;img src="/gloves.jpg" alt="Coding gloves">
          &lt;figcaption>Fig 1. Your coding tools&lt;/figcaption>
        &lt;/figure>

  section
    mixin browserSupport('All', '3+', 'All', '9+', '9+')
    h2 footer
    pre
      code.
        &lt;footer>
          &lt;p>My fancy footer&lt;/p>
        &lt;/footer>


  section
    h2 Fat footer example

    pre
      code.
        &lt;footer>
          &lt;nav>
            &lt;h1>Navigation&lt;h1>
            &lt;ul>
              &lt;li>&lt;a href="/">Home&lt;/a>&lt;/li> 
              &lt;li>&lt;a href="/standards/">Standards&lt;/a>&lt;/li> 
              &lt;li>&lt;a href="/participate/">Participate&lt;/a>&lt;/li> 
              &lt;li>&lt;a href="/membership">Membership&lt;/a>&lt;/li> 
              &lt;li>&lt;a href="/Consortium/">About W3C&lt;/a>&lt;/li> 
            &lt;/ul>
          &lt;/nav>
          &lt;nav>
            &lt;h1>Contact W3C&lt;/h1>
            &lt;ul>
              &lt;li>&lt;a href="/Consortium/contact">Contact&lt;/a>&lt;/li>
              &lt;li>&lt;a href="/Help/">Help and FAQ&lt;/a>&lt;/li>
              &lt;li>&lt;a href="/Consortium/sup">Donate&lt;/a>&lt;/li>
              &lt;li>&lt;a href="/Consortium/siteindex">Site Map&lt;/a>&lt;/li> 
            &lt;/ul>
          &lt;/nav>
        &lt;section>
          &lt;h1>W3C Updates&lt;/h1>
          &lt;ul>
            &lt;li>&lt;a href="http://twitter.com/W3C">Twitter&lt;/a>&lt;/li>
            &lt;li>&lt;a href="http://identi.ca/w3c">Identi.ca&lt;/a>&lt;/li>
          &lt;/ul>
        &lt;/section>
        &lt;p class="copyright">Copyright © 2009 W3C&lt;/p>
        &lt;/footer> 

  section
    h2 Example
    pre
      code.
        &lt;body>
          &lt;header>
            &lt;hgroup>
              &lt;h1>Page title&lt;/h1>
              &lt;h2>Page subtitle&lt;/h2>
            &lt;/hgroup>
          &lt;/header>

          &lt;nav>
           &lt;ul>
             Navigation...
           &lt;/ul>
          &lt;/nav>

        &lt;aside>
           Top links...
          &lt;/aside>

        &lt;section>
         &lt;article>
           &lt;header>
             &lt;h1>Title&lt;/h1>
           &lt;/header>
           &lt;p>
             Content...
           &lt;/p>
         &lt;/article>
         &lt;article>
           ...
         &lt;/article>
        &lt;/section>

        &lt;footer>
         Copyright ©2010
        &lt;/footer>
      &lt;/body>

  section(data-state="lab")
    h2 Lab: Semantics
    p Use semantic tags in the proposed page

  section
    h2 HTML5 Boilerplate
    p HTML5 ready, including the new tags
    p Many best practices out-of-the-box
    p Progressive enhancement
    p Mobile optimizations
    p Modernizr already built-in etc, etc, etc...

  section(date-state="lab")
    h2 Lab: HTML5 Boilerplate
    p Review HTML5 boilerplate

  section
    mixin browserSupport('All', '3.5+', '4+', '9+', '9.5+')
    h2 audio
    ul
      li IE < 9: <bgsound>
      li Safari: mp3 and mp4
      li Firefox 3.5+: ogg and wav
      li Chrome: virtually anything

  section
    h2 audio
    pre
      code.
        &lt;audio id="audio" src="sound.mp3" controls>&lt;/audio>
        document.getElementById("audio").muted = false;

  section
    mixin browserSupport('All', '3.5+', '4+', '9+', '10.5+')
    h2 video
    pre
      code.
        &lt;video id="video" src="movie.webm" autoplay controls>&lt;/video>
        document.getElementById("video").play();

  section
    h2 video
    p YouTube: H.264 and WebM
    p Vimeo: H.264

  section
    h2 Browser support
    p Over 50% total browser support

  section
    h2 video without Javascript
    pre
      code.
        &lt;video controls="controls" poster="./poster.jpg" width="640" height="360">
        &lt;source src="big_buck_bunny.mp4" type="video/mp4" />
        &lt;source src="big_buck_bunny.webm" type="video/webm" />
        &lt;source src="big_buck_bunny.ogv" type="video/ogg" />

        &lt;object type="application/x-shockwave-flash" data="flowplayer-3.2.1.swf" width="640" height="360">
        &lt;param name="movie" value="flowplayer-3.2.1.swf" />
        &lt;param name="allowFullScreen" value="true" />
        &lt;param name="wmode" value="transparent" />
        &lt;param name="flashVars" value="config={'playlist':['./poster.jpg',{'url':'big_buck_bunny.mp4','autoPlay':false}]}" />
        &lt;img alt="Big Buck Bunny" src="./poster.jpg" width="640" height="360" title="No video playback capabilities, please download the video below" />
        &lt;/object>
        &lt;/video>

  section
    h2 video frameworks
    p Projekktor, FlareVideo, Video JS, JW Player, Kaltura / Adobe, html5media, jMediaelement, OIPlayer, Hvideo, jQuery Video, Video for Everybody, Open Video Player, HTML5 Video Player, mediaelement.js, SublimeVideo, Uppod.HTML5, LeanBack, Mooplay, jPlayer, OSM Player

  section(data-state="lab")
    h2 Lab: embed video
    p Embed a video into a web page

  section
    h2 Keep sharp
