extend includes/layout

append title
  title HTML 5

append slides
  section
    h1 HTML5

  section
    h2 HTML5 browser support

    p.read-block Smartphones
    p.read-block http://delicious.com/html5css3/support
    p.read-block Polyfills

  include html5/meta-tags

  include html5/removed-elements

  include html5/form-controls

  include html5/form-attributes

  include html5/polyfills

  include html5/microformats

  include html5/semantic-elements

  section
    h2 HTML5 Boilerplate
    p.read-block <b>HTML5 ready</b>, including the new tags
    p.read-block Many <b>best practices</b> out-of-the-box
    p.read-block <b>Progressive enhancement</b>
    p.read-block <b>Mobile optimizations</b>
    p.read-block <b>Modernizr</b> already built-in etc, etc, etc...

  section(data-state="lab")
    h2 Lab: HTML5 Boilerplate
    p Review HTML5 boilerplate

  include html5/audio-video

  section
    h2 Keep sharp
    ul
      li
        a(href="http://html5please.com") HTML5 Please
      li
        a(href="http://caniuse.com") When can I use...
      li
        a(href="https://developer.mozilla.org/") Mozilla Developer Network
      li
        a(href="http://html5doctor.com/") HTML5 Doctor