extend includes/layout

append title
  title HTML 5

append slides

  include html5/introduction.jade

  include html5/meta-tags

  include html5/removed-elements

  include html5/semantic-elements

  include html5/form-controls

  include html5/attributes

  include html5/polyfills

  include html5/microformats

  include html5/audio-video

  include html5/boilerplate

  section
    h2 Keep sharp
    ul
      li
        a(href="http://www.webplatform.org/") WebPlatform.org
      li
        a(href="http://html5please.com") HTML5 Please
      li
        a(href="http://caniuse.com") When can I use...
      li
        a(href="https://developer.mozilla.org/") Mozilla Developer Network
      li
        a(href="http://html5doctor.com/") HTML5 Doctor