extend includes/index-layout

append title
  title HTML5 and CSS3 &dash; Index
  link(rel='stylesheet', href='assets/css/index.css')

append contents

  section.bg-html5
    .container
      h1 Index: Castellón 11/2012
      include index/contents
