extend modules/layout

append slides
  section
    h1 HTML5 and CSS3
    ol
      li
        a Introduction
      li
        a Classic HTML and CSS
      li
        a(href="css3.html") CSS3
      li
        a HTML5
      li
        a Javascript
      li
        a Browsers and SEO
      li
        a Performance
      li
        a UI Patterns

  section
    h2 test
    aside.notes
      | klsdklfgjdklgjkl