extend modules/layout

append slides
  section
    h1 HTML5 and CSS3
    ol
      li
        a(href="introduction.html") Introduction
      li
        a(href="classic-html.html") Classic HTML and CSS
      li
        a(href="css3.html") CSS3
      li
        a(href="html5.html") HTML5
      li
        a(href="javascript.html") JavaScript
      li
        a(href="browsers-and-seo.html") Browsers and SEO
      li
        a(href="performance.html") Performance
      li
        a(href="ui-patterns.html") UI Patterns