extend includes/layout

append title
  title Introduction

append slides
  section
    h1 Introduction

  section
    h2 Introduction
    pre
      code.javascript.
        {
           name : 'Ricardo Borillo',
           company : 'Universitat Jaume I',
           mail : 'borillo@uji.es',
           social : {
              twitter : '@borillo',
              blog : 'xml-utils.com',
              linkedin : 'linkedin.com/in/borillo'
           }
        }

  section
    h2 Introduction
    div(style="width:60%; margin: auto; background-color: white;")
      img(src="assets/raster/yo.png")

  section
    h2 Content
    include index/contents

  section
    h2 A-grade browsers
    table.table.table-bordered
      tbody
        tr
          th Internet Explorer
          td 6.0
          td 7.0
          td 8.0
          td 9.0
        tr
          th Chrome *
          td(colspan='4') Latest stable
        tr
          th Firefox *
          td(colspan='4') Latest stable
        tr
          th Safari
          td(colspan='2') Latest stable (desktop)
          td iOS 4.*
          td iOS 5.*
        tr
          th WebKit
          td Android 2.2.*
          td Android 2.3.*
          td(colspan='2') Android 4.*
 
  section
    h2 Google Apps support
    ul.read-block
      li Latest Chrome
      li Last two releases of
        ul 
          li Firefox
          li IE
          li Safari
      li This means no support for IE 8!

  section
    h2 Wikipedia support
    p Any browser with >1% market share
    p This (barely) includes IE6

  section
    h1 Introduction to the tools

  section
    h2 Try all browser versions online
    p Adobe Browser Lab: http://browserlab.adobe.com/

  section
    h2 Try all browser versions online
    p http://www.browserstack.com/

  section
    h2 Your developer tools
    ul.read-block
      li Chrome
      li Sublime Text Editor 2

  include introduction/chrome
  include introduction/sublime

  section(data-state="lab")
    h2 Lab: Tools setup
    p Install the set of tools needed for the labs
