extend includes/layout

append title
  title Introduction

append slides
  section
    h1 Introduction

  section
    h2 Introduction
    ul.read-block
      li <b>The instructor</b>
      li <b>The audience</b>
      li <b>The goal</b>

  section
    h2 Content
    include index/contents

  section
    h2 This is an introductory course
    p.read-block Emphasis is given to present <b>filtered and useful</b> information instead of being complete. 

  section
    h2 Opinionated contents
    p.read-block We strive to include the <b>most useful tools</b> for the task at hand.
    p.read-block The contents of this course are largely based on opinions from the authors.

  section
    section#slideshow-controls
      h2 About this slides...
      ul.read-block
        li <b>Mouse wheel</b>, <b>PageDown</b> or <b>space</b> for next slide... <span class="fragment">or fragment</span>
        li.fragment <b>Mouse wheel</b> or <b>PageUp</b> for previous slide or fragment
    section
      h2 About this slides...
      ul.read-block
        li Arrow keys also work, but <code><b>&rarr;</b></code> ignores nested slides!
        li Press <b>z</b> for thumbnails mode, then press <b>z</b> or click a slide to exit it.
        li Also, <b>ESC</b> triggers a 3D overview mode.

  section
    h2 A-grade browsers
    table.table.table-bordered
      tbody
        tr
          th Internet Explorer
          td 6.0
          td 7.0
          td 8.0
          td 9.0
        tr
          th Chrome *
          td(colspan='4') Latest stable
        tr
          th Firefox *
          td(colspan='4') Latest stable
        tr
          th Safari
          td(colspan='2') Latest stable (desktop)
          td iOS 4.*
          td iOS 5.*
        tr
          th WebKit
          td Android 2.2.*
          td Android 2.3.*
          td(colspan='2') Android 4.*
 
  section
    h2 Google Apps support
    ul.read-block
      li Latest Chrome
      li Last two releases of
        ul 
          li Firefox
          li IE
          li Safari
      li This means no support for IE 8!

  section
    h2 Wikipedia support
    p Any browser with >1% market share
    p This (barely) includes IE6

  section
    h1 Introduction to the tools
    ul.read-block
      li Chrome
      li Sublime Text Editor 2

  include introduction/chrome
  include introduction/sublime

  section(data-state="lab")
    h2 Lab: Tools setup
    p Install the set of tools needed for the labs