extend includes/layout

append title
  title Introduction

append slides
  section
    h1 Introduction

  section
    h2 Introduction
    ul.read-block
      li <b>The instructor</b>
      li <b>The audience</b>
      li <b>The goal</b>

  section
    h2 Twitter
    ul.read-block
      li #html5 #css3
      li @_rvidal @nachocoloma @extremasistemas

  section
    h2 Content
    include introduction/contents

  section
    h2 This is an introductory course
    p.read-block Emphasis is given to present <b>filtered and useful</b> information instead of being complete. 

  section
    h2 Opinionated contents
    p.read-block We strive to include the <b>most useful tools</b> for the task at hand.
    p.read-block The contents of this course are largely based on opinions from the authors.

  section
    h2 A-grade browsers
    table.table.table-bordered
      tbody
        tr
          th Internet Explorer
          td 6.0
          td 7.0
          td 8.0
          td 9.0
        tr
          th Chrome *
          td(colspan='4') Latest stable
        tr
          th Firefox *
          td(colspan='4') Latest stable
        tr
          th Safari
          td(colspan='2') Latest stable (desktop)
          td iOS 4.*
          td iOS 5.*
        tr
          th WebKit
          td Android 2.2.*
          td Android 2.3.*
          td(colspan='2') Android 4.*
 
  section
    h2 Google Apps support
    ul.read-block
      li Latest Chrome
      li Last two releases of
        ul 
          li Firefox
          li IE
          li Safari
      li This means no support for IE 8!

  section
    h2 Wikipedia support
    p Any browser with >1% market share
    p This (barely) includes IE6

  section
    h2 Wireframes
    img(src="assets/raster/wireframes.png")

  section
    h2 The wireframe as a communication tool
    img(src="assets/raster/wireframes-communication.png")

  section
    h2 Ideation phase
    img(src="assets/raster/wireframes-ideation.png")

  section
    h2 Everybody makes it different
    img(src="assets/raster/jason-robb.png")

  section
    h2 Level of detail
    p <b>Low</b> and <b>high-fidelity</b> wireframes
    .row-fluid
      .span6
        img(src="assets/raster/wireframes-low.png")
      .span6
        img(src="assets/raster/wireframes-high.png")

  section
    h2 Paper prototype
    .row-fluid
      .span6
        img(src="assets/raster/wireframe-prototype-1.png")
      .span6
        img(src="assets/raster/wireframe-prototype-2.png")
    .row-fluid
      .span6
        img(src="assets/raster/wireframe-prototype-3.png")
      .span6
        img(src="assets/raster/wireframe-prototype-4.png")

  section
    h2 Storyboards
    img(src="assets/raster/storyboards.png")

  section
    h2 Wireframe tools
    ul.read-block
      li <b>Pencil</b> and <b>marker</b>
      li <b>Paper prototype</b>
      li <b>Digital prototype</b>

  section(data-state="lab")
    h2 Lab Wireframe
    p Develop a wireframe using <b>moqups.com</b>

  section
    h1 Introduction to the tools
    ul.read-block
      li Chrome
      li Sublime Text Editor 2


  include introduction/chrome
  include introduction/sublime

  section(data-state="lab")
    h2 Lab: Tools setup
    p Install the set of tools needed for the labs