extend modules/layout

include modules/mixins

append title
  title Introduction

append slides
  section
    h1 Introduction

  section
    h2 Introduction
    p The instructor
    p The audience
    p The goal

  section
    h2 Twitter
    p #html5
    p #css3
    p @_rvidal
    p @nachocoloma
    p @extremasistemas

  section
    h2 Content
    p  Introduction to HTML and CSS
    p  CSS3
    p  HTML5
    p  Browsers and SEO
    p  Performance
    p  UI patterns

  section
    h2 Warning
    p This course is <strong>introductory</strong>.
    p The materials are not exhaustive. Emphasis is given to present <strong>filtered and useful</strong> information instead of <strong>complete</strong>.

  section
    h2 Warning
    p This course includes coverage of some of the new JavaScript APIs in HTML5

  section
    h2 Browsers
    p Grade-A Browsers

  section
    h2 Internet Explorer

  section
    h2 Wireframes

  section
    h2 Wireframes as a communication tool

  section
    h2 Ideation phase

  section

  section
    h2 Level of detail
    p <strong>Low</strong> and <strong>high-fidelity</strong> wireframes

  section
    h2 Paper prototype

  section
    h2 Wireframe tools
    p <strong>Pencil</strong> and <strong>marker</strong>
    p <strong>Paper prototype</strong>
    p <strong>Digital prototype</strong>

  section
    h2 Storyboards

  section(data-state="lab")
    h2 Lab Wireframe
    p Develop a wireframe using <strong>moqups.com</strong>

  section(data-state="lab")
    h2 Lab: Tools setup
    p Install the set of tools needed for the labs