extend includes/layout

append title
  title Introduction

append slides
  section
    h1 Introduction

  section
    h2 Introduction
    ul.read-block
      li <b>The instructor</b>
      li <b>The audience</b>
      li <b>The goal</b>

  section
    h2 Twitter
    ul.read-block
      li #html5
      li #css3
      li @_rvidal
      li @nachocoloma
      li @extremasistemas

  section
    h2 Content
    ul
      li  Introduction to HTML and CSS
      li  CSS3
      li  HTML5
      li  Browsers and SEO
      li  Performance
      li  UI patterns

  section
    h2 Warning
    p.read-block This course is <b>introductory</b>.
    p.read-block The materials are not exhaustive. Emphasis is given to present <b>filtered and useful</b> information instead of <b>complete</b>.

  section
    h2 Warning
    p This course includes coverage of some of the new JavaScript APIs in HTML5

  section
    h2 A-grade browsers
    table.table.table-bordered
      tbody
        tr
          th Internet Explorer
          td 6.0
          td 7.0
          td 8.0
          td 9.0
        tr
          th Chrome *
          td(colspan='4') Latest stable
        tr
          th Firefox *
          td(colspan='4') Latest stable
        tr
          th Safari
          td(colspan='2') Latest stable (desktop)
          td iOS 4.*
          td iOS 5.*
        tr
          th WebKit
          td Android 2.2.*
          td Android 2.3.*
          td(colspan='2') Android 4.*
 

  section
    h2 Internet Explorer
    img(src="assets/raster/internet-explorer.png")

  section
    h2 Wireframes
    img(src="assets/raster/wireframes.png")

  section
    h2 Wireframes as a communication tool
    img(src="assets/raster/wireframes-communication.png")

  section
    h2 Ideation phase
    img(src="assets/raster/wireframes-ideation.png")

  section
    img(src="assets/raster/jason-robb.png")

  section
    h2 Level of detail
    p <b>Low</b> and <b>high-fidelity</b> wireframes
    .row-fluid
      .span6
        img(src="assets/raster/wireframes-low.png")
      .span6
        img(src="assets/raster/wireframes-high.png")

  section
    h2 Paper prototype
    .row-fluid
      .span6
        img(src="assets/raster/wireframe-prototype-1.png")
      .span6
        img(src="assets/raster/wireframe-prototype-2.png")
    .row-fluid
      .span6
        img(src="assets/raster/wireframe-prototype-3.png")
      .span6
        img(src="assets/raster/wireframe-prototype-4.png")

  section
    h2 Wireframe tools
    ul.read-block
      li <b>Pencil</b> and <b>marker</b>
      li <b>Paper prototype</b>
      li <b>Digital prototype</b>

  section
    h2 Storyboards
    img(src="assets/raster/storyboards.png")

  section(data-state="lab")
    h2 Lab Wireframe
    p Develop a wireframe using <b>moqups.com</b>

  include introduction/chrome
  include introduction/sublime

  section(data-state="lab")
    h2 Lab: Tools setup
    p Install the set of tools needed for the labs