extend modules/layout

include modules/mixins

append title
  title Introduction

append slides
  section
    h1 Introduction

  section
    h2 Introduction
    ul.read-block
      li <b>The instructor</b>
      li <b>The audience</b>
      li <b>The goal</b>

  section
    h2 Twitter
    ul.read-block
      li #html5
      li #css3
      li @_rvidal
      li @nachocoloma
      li @extremasistemas

  section
    h2 Content
    ul
      li  Introduction to HTML and CSS
      li  CSS3
      li  HTML5
      li  Browsers and SEO
      li  Performance
      li  UI patterns

  section
    h2 Warning
    p.read-block This course is <b>introductory</b>.
    p.read-block The materials are not exhaustive. Emphasis is given to present <b>filtered and useful</b> information instead of <b>complete</b>.

  section
    h2 Warning
    p This course includes coverage of some of the new JavaScript APIs in HTML5

  section
    h2 A-grade browsers
    table.table.table-bordered
      tbody
        tr
          th Internet Explorer
          td 6.0
          td 7.0
          td 8.0
          td 9.0
        tr
          th Chrome *
          td(colspan='4') Latest stable
        tr
          th Firefox *
          td(colspan='4') Latest stable
        tr
          th Safari
          td(colspan='2') Latest stable (desktop)
          td iOS 4.*
          td iOS 5.*
        tr
          th WebKit
          td Android 2.2.*
          td Android 2.3.*
          td(colspan='2') Android 4.*
 

  section
    h2 Internet Explorer

  section
    h2 Wireframes

  section
    h2 Wireframes as a communication tool

  section
    h2 Ideation phase

  section

  section
    h2 Level of detail
    p <b>Low</b> and <b>high-fidelity</b> wireframes

  section
    h2 Paper prototype

  section
    h2 Wireframe tools
    ul.read-block
      li <b>Pencil</b> and <b>marker</b>
      li <b>Paper prototype</b>
      li <b>Digital prototype</b>

  section
    h2 Storyboards

  section(data-state="lab")
    h2 Lab Wireframe
    p Develop a wireframe using <b>moqups.com</b>

  section(data-state="lab")
    h2 Lab: Tools setup
    p Install the set of tools needed for the labs