extend includes/layout

append title
  title JavaScript

append slides
  section
    h1 JavaScript

  include javascript/client-side-storage

  include javascript/appcache

  include javascript/geolocation