extend modules/layout

include modules/mixins

append title
  title Performance

append slides
  section
    h1 Performance

  section
    h2 Performance
    p <strong>.1 to 1 sec:</strong> no feedback necessary
    p <strong>1 to 10 sec:</strong> add some feedback (spinners)
    p <strong>> 10 sec:</strong> the user is no longer here

  section
    h2 Impact on revenue
    p Google: +500 ms <strong>-20% traffic</strong>
    p Yahoo: +400 ms    <strong>-5-9% full-page traffic</strong>
    p Amazon: +100 ms <strong>-1% sales</strong>
    p Firefox: +2 seg   <strong>-15% downloads</strong>

  section
    h2 Impact on PageRank
    p Starting 2010, 
    p <strong>Google has added page performance</strong> to the PageRank algorithm 

  section
    h2 Best thing for performance
    p Aim for simplicity

  section
    h2 image

  section
    h2 Improve performance
    p by following 14 rules by Steve Souders

  section
    h2 Pre-process javascript and CSS
    ul
      li Rule 1 - Make Fewer HTTP Requests
      li Rule 2 - Use a Content Delivery Network
      li Rule 4 - Gzip Components
      li Rule 10 - Minify JavaScript

  section
    h2 Content-delivery network
    p Use a third-party CDN
    pre
      code.
        https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js
    p Create your own CDN

  section
    h2 Active open connections
    p 6 connections
    p These are shared for all active tabs

  section
    h2 Location
    p Rule 5 - Put Stylesheets at the Top
    p Rule 6 - Put Scripts at the Bottom
    p Rule 8 - Make JavaScript and CSS External

  section
    h2 Measure, don't guess
    p What's faster, Facebook or LinkedIn?

  section
    h2 Measure, don't guess

  section(data-state="lab")
    h2 Lab: performance 1
    p Compare performance of multiple websites using online tools

  section
    h2 Performance tools
    p Google PageSpeed
    p YSlow! 
    p Webpagetest.org
    p Chrome resources tab

  section
    h2 Some stats
    ul
      li Extracted from http://httparchive.org/
      li +17000 URLs analyzed:
        ul
          li Alexa 500, US 500, 10,000
          li Fortune 500
          li Global 500
          li Quantcast10K

  section
    h2 Load times

  section
    h2 Resource size

  section
    h2 Resource size
    ul
      li Lossy JPG compression
      li Lossless image compressors

  section
    h2 External resources

  section
    h2 PageSpeed score

  section(data-state="lab")
    h2 Lab: performance 2
    p Track performance with PageSpeed

  section
    h2 Efficient CSS
    p CSS rules are evaluated right to left
    p First a.home, then upwards

    pre
      code.
        ul > li a.home

  section
    h2 Selector performance
    p Best to worst
    pre
      code.
        #id           /* by id */
        .className        /* by class name */
        div           /* by tag */
        *           /* universal */

  section
    h2 Improve performance
    | BAD:
    pre
      code.
        /* avoid generic selectors */
        * { 
          font-size: 12px; 
        }     
        /* do not tag-qualify an id */  div#main { 
          width: 960px;
        }
        /* avoid descendants */
        table.bill tbody tr td.cell { 
          border: 1px solid #ccc;
        }
        /* avoid by tag */
        .contact-data div { 
          background: #fcc;
        }
    | GOOD:
    pre
      code.
        body { 
          font-size: 12px; 
        }     

        #main { 
          width: 960px;
        }

        .cell, .td-cell { 
          border: 1px solid #ccc;
        }

        .contact-data, .div-contact-data { 
          background: #fcc;
        }

  section
    h2 Improve more
    | BAD:
    pre
      code.
        ul.links li a {
          color: #ccc;
        }
    | BETTER:
    pre
      code.
        .links > li > a {
          color: #ccc;
        }
    | BEST:
    pre
      code.
        .a-link {
          color: #ccc;
        }

  section
    h2 Avoid sibling selectors
    pre
      code.
        h1 + p {
          border: 1px solid #fff;
        }
    p WebKit typically achieves a 75% memory reduction in style footprint on pages that don’t make use of sibling selectors – Dave Hyatt, (webkit architect) May 2008

  section
    h2 Avoid :hover on non-link
    p :hover on non-link elements (div, p, etc) will fail or cause degraded performance on IE 

  section
    h2 Best performance possible
    p ID and class selectors
    p child selectors
    p descendant selectors

  section
    h2 Not to be taken too seriously
    ul
      li Performance gains are not that good.
      ul
        li 30 ms for typical CSS
        li 2000 ms for really bad CSS

  section
    h2 Use classes to override styles
    p Specificity has collisions
    ul
      li h3 { … }
      li #sidebar h3 { … }
      li #sidebar .account h3 { … }

  section
    h2 !important
    p Duplicates the problem

  section
    h2 CSS Lint
    p CSS Lint analyzes your CSS and tries to help point out problems with your code.
    ul
      li Parsing errors
      li Possible Errors
      li Compatibility
      li Performance
      li Maintainability & Duplication

  section(data-state="lab")
    h2 Lab: CSS Lint
    p Use CSS Lint to optimize css code

  section
    h2 Reflow performance
    p Specify width and height on all your images
    p Apply animations to elements that are position fixed or absolute

  section
    h2 Browser cache
    p <strong>304</strong> (Not Modified) responses
    p <strong>Expires</strong> headers
    p <strong>Strong</strong> and <strong>weak</strong> cache indicators

  section
    h2 304
    p Means "the browser already has the latest version of this file"
    p Will happen with every click unless Expires is used


  section
    h2 304 with Last-Modified
    p If the server includes Last-Modified the browser will include If-Modified-Since with each further request
    p Example: any static file with apache / tomcat 

  section
    h2 304 with ETag
    p If server includes ETag the browser will include If-None-Match with each further request
    p Example: <inode>-<file-size>-<last-modified> with apache 

  section
    h2 Expires header
    p Indicates for how long the file should not be retrieved again.

  section
    h2 Expires header
    ul
      li Cache-control (max-age) 
        ul
          li HTTP 1.1
          li Seconds to expire
          li Used by the browser
      li Expires:
        ul
          li HTTP 1.0
          li Date
          li Used by proxies installed during the Roman Empire

  section
    h2 The Refresh button
    ul
      li Refresh (or F5): a new request will be sent for each file. 
        ul
          li Any If-Modified-Since or If-None-Match headers will be sent.
          li The server may return a 304 response.
      li Shift + Refresh (or Ctrl + F5): a new request will be sent for each file.
        ul
          li Any If-Modified-Since or If-None-Match headers will not be sent.
          li The server cannot return a 304 response.

  section
    h2 And that's all
    ul
      li <strong>304 and Expires</strong>. That's all you have.
      li Now, <strong>which data indicator</strong> do you plan to use for caching?
        ul
          li Last modified, MD5 checksum...

  section
    h2 Weak and strong indicators
    ul
      li <strong>Weak</strong>: The indicator may change even if the file did not.
        ul
          li Last-Modified, default ETag implementations.
      li <strong>Strong</strong>: The indicator changes only with the resource contents.
        ul
          li MD5, version numbers.
      li Strong indicators can be inserted in the URL or used as ETag.

  section
    h2 Strong indicators
    ul
      li Version numbers
        ul
          li http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js
      li Revision numbers
        ul
          li http://localhost/myentity?id=5&revision=20
      li MD5
        ul
          li http://localhost/images/photo.gif?checksum=9e0bee8ace86b2230140642adcf57c4c

  section
    h2 Expires & strong indicators
    p Using strong indicators, you can set your Expires header to cache forever:

    ul
      li HTTP spec: 1 year
      li Yahoo! recommendation: 10 years

    p <strong>Use only with immutable resources</strong>

  section(data-state="lab")
    h2 Lab: Browser Cache
    p Test the browser cache
    