extend includes/layout

append title
  title Performance

append slides
  section
    h1 Performance

  include performance/introduction

  include performance/performance-rules

  include performance/efficient-css

  include performance/css-lint

  include performance/browser-cache

  section
    h2 Keep sharp
    p
      a(href="https://developers.google.com/speed/docs/best-practices/rules_intro") Google performance best practices
    