

.marketing, .big-title {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

.navbar .btn-navbar {
  width: 14px;
  height: 14px;

  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;

  background: url("files/glyphicon-arrow.png") no-repeat 50% 50%;
}