section.browser-support-container
  mixin browserSupport('4+', '3+', '4+', '10+', '10.6+')
  h2 Appcache
  p Offline web applications

  pre
    code.
      #{'<!DOCTYPE HTML>'}
      #{'<html manifest="/cache.manifest">'}

      ...

      #{'</html>'}

section
  h2 Cache.manifest
  pre
    code.
      CACHE MANIFEST
      # Remember to update the version number!
      # version 2.3.1
      <span class="fragment">
      # Explicit cache: (no wildcard allowed)
      CACHE:
      /css/style.css
      /img/funny_image.png
      </span><span class="fragment">
      # Do not cache: (folders and wildcards are allowed)
      NETWORK:
      /js
      /status.html
      </span><span class="fragment">
      # If A is not online, serve B
      FALLBACK:
      /account /offline.HTML
      </span>

section
  h2 Process
  img(src="assets/svg/appcache-flow.svg", width="80%")

//- section
//-   h2 AppCache JavaScript API
//-   ul
//-     li applicationCache.status
//-     ul
//-       li Return the current status
//-     li applicationCache.update()
//-     ul
//-       li Update the manifest, download the files but do not replace them yet
//-     li applicationCache.swapCache()
//-     ul
//-       li Refresh the cached contents

section(data-state="lab")
  h2 Lab: AppCache
  p Configure a web app to work offline