section
  h2 Client-Side Storage
  ul
    li <b>IndexedDB:</b> Structured data storage
    li <b>File:</b> Manipulate local files from the browser
    li <b>LocalStorage:</b> Key-value storage

section.browser-support-container
  mixin browserSupport('19+', '12+', 'No', '10+', 'No')
  h2 IndexedDB
  ul
    li <b>Unlimited storage</b>
    li <b>Query capabilities</b>
    li <b>Very limited</b> browser support

section.browser-support-container
  mixin browserSupport('19+', '12+', 'No', '10+', 'No')
  h2 IndexedDB
  pre
    code.
      myDatabase.indexedDB.addTodo = function(friendText) {
        var db = myDatabase.indexedDB.db
        , trans = db.transaction(["friend"], IDBTransaction.READ_WRITE, 0)
        , store = trans.objectStore("friend")
        , request = store.put({
          "text": friendText,
          "timeStamp" : new Date().getTime()
        });

        request.onsuccess = function(e) {
          // Render new data
        };

        request.onerror = function(e) {
          console.log(e.value);
        };
      };

section
  h2 IDBWrapper.js
  pre
    code.
      var myDB = new IDBStore({
        dbName: 'myDB',
        storeName: 'friend'
      });

      friends.put({ 
          name: 'James' 
        }, 
        function(id) {
          // success
        }, 
        function(e) {
          // error
        }
      );

section
  h2 IDBWrapper.js
  p Methods
  pre
    code.
      // Add new entry
      friends.put(friend, onsuccess, onerror)

      // Query an entry
      friends.get(friendId, onsuccess, onerror)

      // Updating an entry
      friends.update(updatedFriend, onsuccess, onerror)

      // Get all entries
      friends.getAll(onsuccess, onerror)

      // Delete an entry
      friends.remove(friendId, onsuccess, onerror)

section.browser-support-container
  mixin browserSupport('13+', '3.6+', '5.1*', '10?', '11.1+')
  h2 File APIs
  p Get file attributes

  pre
    code.
      #{'<input type="file" id="yourFile" name="file">'}
      #{'<ul id="list"></ul>'}

  pre
    code.
      function handleFileSelect(evt) {
        var file = evt.target.files[0];
        $('#list').append('&lt;li>' + file.name + ' - ' + file.size + ' bytes.');
      }
      $('#yourFile').on('change', handleFileSelect);

section
  h2 FileReader
  p Read file contents
  pre
    code.
        function handleFileSelect(evt) {
          var file = evt.target.files[0],
            reader = new FileReader();

          reader.onload = function (e) {
            var $img = $('&lt;img>').attr({
              src: e.target.result,
              title: file.name
            });
            $('#list').append($img);
          }

          reader.readAsDataURL(file); // Read in the image file as a data URL.
        }

section.browser-support-container
  mixin browserSupport('4+', '3.5+', '4+', '8+', '10.5+')
  h2 Web Storage
  ul
    li <b>Great</b> browser support (plus fallbacks)
    li <b>localStorage</b>: persists contents
    li <b>sessionStorage</b>: contents are lost after browser session
  img(src="assets/svg/web-storage.svg", width="200")

section
  h2 localStorage
  p Global object used to store <b>only strings</b>

  pre
    code.
      // Set data
      localStorage<b>.setItem</b>("key", "value");

      // Get data
      localStorage<b>.getItem</b>("key"); // => "value"

      // Remove data
      localStorage<b>.removeData</b>("key");

      // Number of entries
      localStorage<b>.length</b>

section.browser-support-container
  mixin browserSupport('4+', '2+', '4+', '5+', '10.5+')
  h2 store.js
  ul
    li <b>JSON datatypes</b> (objects, arrays, boolean...)
    li Supports <b>default values</b>
    li <b>Fallback</b> to
    ul
      li <b>globalStorage</b> for older Firefox (2+)
      li <b>userData</b> for older IE (5+)


section
  h2 store.js
  pre
    code.
      var myStuff = new Store("myStuff");

      // Set data
      myStuff.set('key', 'value')

      // Get data
      myStuff.get('key')

      // Remove data
      myStuff.remove('key');


section(data-state="lab")
  h2 Lab: localstorage
  p Use the store.js library