section
  mixin browserSupport('4+', '3.5+', '5+', '9+', '10.6+')
  h2 Geolocation
  p Where are we?
  pre
    code.
      if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(success, error, options);
      } else {
          alert('Get a fancier browser!');
      }
  iframe(src="assets/html/geolocation.html", width="100%", height="300")

section
  mixin browserSupport('4+', '3.5+', '5+', '9+', '10.6+')
  h2 getCurrentPosition
  pre
    code.
      var getLocation = function(callback) {
        var errorCallback = function(e) {
          e && console.info(e.message);
          // use a default location
          callback({
            coords: { latitude: 0.5, longitude: 0.5 }
          });
        };
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(callback, errorCallback);
        } else {
          errorCallback();
        }
      }

section
  h2 Watch position

  pre
    code.
      navigator.geolocation.watchPosition(success, error, options)

      navigator.geolocation.clearWatch(watchId)