
a {
  cursor: pointer;
}

.right, .left {
  width: 47.5%;
  padding: 0 1%;
  margin-top: 100px;
  float: left;
}


.right {
  color: #b3b3b3;
  background-color: #4d4d4d;
}


.entry {
  text-align: center;
}

/* Links list */
.links {
  /* 3 times the width of a single link, approximately  */
  width: 310px;
  margin-left: auto;
  margin-right: auto;
}

.links li {
  display: inline-block;
  width: 60px;
  /* height = width, in order to draw the circle properly*/
  height: 60px;
  margin: 0 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
}

.links a {
  display: block;
  line-height: 60px;

  /*Text hiding*/
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;

  /* Background settings. background-image set later */
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.links a:hover {
  text-indent: 0%;
  background: transparent;
}

/* Background and shadow for the links*/

.left .links li {
  background-color: #ddcc77;
}

.left .links li:hover {
  -webkit-box-shadow: #666644 0 0 10px;
  -moz-box-shadow: #666644 0 0 10px;
  box-shadow: #666644 0 0 10px;
}

.right .links li {
  background-color: #253896;
}

.right .links li:hover {
  -webkit-box-shadow: #8f8fb4 0 0 10px;
  -moz-box-shadow: #8f8fb4 0 0 10px;
  box-shadow: #8f8fb4 0 0 10px;
}

/* Background for image replacement */

.left .like-link {
  background-image: url('img/like-left.png');
}

.left .hate-link {
  background-image: url('img/hate-left.png');
}

.left .share-link {
  background-image: url('img/share-left.png');
}

.right .like-link {
  background-image: url('img/like-right.png');
}

.right .hate-link {
  background-image: url('img/hate-right.png');
}

.right .share-link {
  background-image: url('img/share-right.png');
}