section
  h2 Browser market share
  img(src="assets/raster/browser-market-share.png")

section
  h2 Chrome
  img(src="assets/raster/chrome-market-share.png")

section
  h2 Internet Explorer
  img(src="assets/raster/ie-market-share.png")

section
  h2 Firefox
  img(src="assets/raster/ff-market-share.png")

section
  h2 Pay attention to your audience
  p Stats for jquery.com (29/3/2009)
  img(src="assets/raster/jquery.png")

section
  h2 IE6 on the way out
  p Twitter, Digg, 37signals, YouTube, Google Apps, Apple, Facebook

section
  h2 Internet Explorer 6
  img(src="assets/raster/ie6-out.png")