section
  h2 Browser market share
  img(src="assets/raster/browser-market-share.png")

section
  h2 Chrome
  img(src="assets/raster/chrome-market-share.png")

section
  h2 Internet Explorer
  img(src="assets/raster/ie-market-share.png")

section
  h2 Firefox
  img(src="assets/raster/ff-market-share.png")

section
  h2 Your audience matters
  p Stats for jquery.com on 29/3/2009, when IE had <b>60% of the market</b>
  img(src="assets/raster/jquery.png")
  a.source(href="http://ejohn.org/blog/determining-browser-market-share/") Source: John Resig

section
  h2 IE6 on the way out
  p Twitter, Digg, 37signals, YouTube, Google Apps, Apple, Facebook

section
  h2 Countdown
  img(src="assets/raster/ie6-out.png")

section
  h2 IE7 soon on the way out
  p Google Apps, Facebook
  p Below 1% of global market share (same as IE6 one year before)