section
  h2 Browser market share

section
  h2 Chrome

section
  h2 Internet Explorer

section
  h2 Firefox

section
  h2 Pay attention to your audience
  p Stats for jquery.com (29/3/2009)

section
  h2 IE6 on the way out
  p Twitter, Digg, 37signals, YouTube, Google Apps, Apple, Facebook

section
  h2 Internet Explorer 6