section
  h2 CSS3 Pie
  ul
    li border-radius
    li box-shadow
    li border-image
    li Multiple background images
    li linear-gradient as background image

section
  h2 Pie as HTC file
  pre
    code.
      .content {
          border-radius: 1em;  /* Shorthand version */
          behavior: url(PIE.htc);
      }

  p HTC URL must be relative to the source HTML file

section
  h2 Pie as JavaScript
  pre
    code.
      #{'<!--[if lt IE 10]>'}
      #{'<script type="text/javascript" src="PIE.js"></script>'}
      #{'<![endif]-->'}
      $(function() {
          if (window.PIE) {
              $('.rounded').each(function() {  PIE.attach(this);  });
          }
      });

  p JavaScript file blocks the page while loading.
  p It is not automatically attached to new elements added dinamically.

section
  h2 JavaScript vs behavior

  ul.read-block
    li <b>PROS:</b>
    ul
      li You can load PIE.js from a different domain.
      li It is easily integrated within JavaScript libraries.
    li <b>CONS:</b>
    ul
      li JavaScript file blocks the page while loading.
      li It is not automatically attached to new elements added dinamically.

section(data-state="lab")
  h2 Lab: CSS3 Pie
  p Use CSS3 Pie to make the proposed page work in Internet Explorer 6+