body {
	color: #ddd;
	background-color: #123;
}
a {
	color: #fc3;
}
a:hover {
	color: #fff;
}
h2 {
	font-size: 19px;
	color: #fff;
	font-weight: normal;
}
hr {
	border-bottom: 1px dashed #666;
	border-top: 1px solid #999;
	margin-left: 10px;
	margin-right: 10px;
	padding: 2px 0 0;
}
.linkimg {
	display: block;
}
.linkimg:hover {
	background-color: #ddd;
}
.linkimg:hover img {
	opacity: 0.9;
}
.align_right {
 text-align: right;
}
.description {
	padding-top: 120px;
}
.ads {
	padding-top: 100px;
}
.footer {
	font-size: 11px;
}
pre {
	background-color: #234;
	font-size: 12px;
	overflow: hidden;
	padding: 10px 0 10px 15px;
}
