article
  mixin appHeader('Testing online')

  p To test any lab online, write the contents into <a href="http://jsfiddle.net">jsFiddle</a>, click <b>Save</b> and them <b>Share</b>. Copy the URL at Share full screen result in the dropdown menu.
