article
  mixin labHeader('Sublime Text Editor 2')

  p For these labs we will use <b>Sublime Text Editor 2</b>, available for Windows, Linux and Mac at <a href="http://www.sublimetext.com/">http://www.sublimetext.com/</a>
  p Ubuntu users can execute this:
  pre
    code.
      sudo add-apt-repository ppa:webupd8team/sublime-text-2
      sudo apt-get update
      sudo apt-get install sublime-text-2

  h3 Installing packages

  p To add syntax highlighting for LESS or SASS you need to install the Sublime Package manager.

  p Follow the instructions at <a href="http://wbond.net/sublime_packages/package_control/installation">http://wbond.net/sublime_packages/package_control/installation</a>
  p Once installed, open the package manager by clicking at Preferences → Package Control → Install package, and select LESS or Sass depending on the labs that are planned for your course.