article
  mixin labHeader('Performance')

  h3 Duration
  p 15 minutes

  h3 Description
  p Compare the scores for the previous lab websites using Google PageSpeed <a href="http://code.google.com/speed/page-speed/">http://code.google.com/speed/page-speed/</a> 