article
  mixin labHeader('Browsers')

  p The following software will be used during the labs:
  ul 
    li <b>Google Chrome</b>
    li <b>Internet Explorer 8 or 9</b> (in Windows machines). 

  h3 Google Chrome
  p Chrome can be downloaded from the <a href="http://chrome.google.com/">Chrome website</a>.

  h3 Internet Explorer
  p This course includes labs that require IE8 or IE9. This is only necessary for Windows machines.
  p In IE8, there is a button next to the URL bar that activates the compatibility mode, rendering the page as IE7. This button will be active only if the visited page uses standards mode. It will not work in quirks mode.
  p This option is also available in the <b>Tools menu</b>:
  p Linux machines can emulate IE using <a href="http://browserlab.adobe.com/">Adobe BrowserLab</a> (saving the lab previously in jsFiddle), VirtualBox or BrowserStack.

  h3 IE on Virtual environments
  p IE 8/9 may not be an option for stations with with IE10 or Mac/Linux. In these cases the lab can be uploaded to jsFiddle (see <b>Testing online</b> in the Appendix) and tested through an Adobe BrowserLab account. Note that BrowserLab will only render a static page, though.
  p A second option would be to create a <b>BrowserStack</b> account at http://www.browserstack.com. This will allow the user to test using other browsers not installed in the local machine without any more hassle.
  p A third option would be to <b>install Windows in a virtual machine</b>. Microsoft provides free virtual machines already configured for IE testing purposes (versions 6 to 9) at <a href="http://www.microsoft.com/en-us/download/details.aspx?id=11575">IE Application compatibility</a>.
  p Once downloaded and uncompressed, a new virtual machine can be created:
  ul
    li <b>Windows 7 Professional:</b> run Virtual PC y create a new VPC based on these files.
    li <b>Other OS's</b>: Install VirtualBox (available for  Mac, Linux and Windows) and create a new VCI based on these files.