article
  mixin labHeader('Fonts')

  h3 Duration
  p 30 minutes

  h3 Description
  ul
    li Modify the previous lab to use the Chunkfive font from <a href="http://www.fontsquirrel.com/fonts/ChunkFive">http://www.fontsquirrel.com/fonts/ChunkFive</a> (click @font-face Kit).
    li Add the following CSS rule to the buttons:
    pre
      code.
        text-shadow: 0 0 5px #000
    li Test the page with IE.
    li Modify the lab to use the <b>Bangers</b> font from <a href="http://www.google.com/webfonts/family?family=Bangers">http://www.google.com/webfonts/family?family=Bangers</a>. The font should be linked, without downloading it locally.
    li Test the page remotely using jsFiddle using a mobile browser <b>without using the local network</b> (only through 3G). The <b>SVG</b> format (the one used by the phone) requires more space, which added to the reduced bandwidth delays the downloading and rendering of the page.
    li Add font-face icons to the buttons using FontAwesome or Iconic. Both fonts provide several files, including the font itself and a CSS stylesheet to be included in the html:
      ul
        li <a href="http://somerandomdude.com/work/iconic/">http://somerandomdude.com/work/iconic/</a>
        li <a href="http://fortawesome.github.com/Font-Awesome/">http://fortawesome.github.com/Font-Awesome/</a>

    p FontAwesome is designed to be used with empty &lt;i> tags, while Iconic uses empty &lt;span> tags. 
