article
  mixin labHeader('Bootstrap 2: Components')
  h3 Duration
  p 20 minutes
  h3 Description
  p Use Bootstrap to transform the provided HTML to look similar to the following screenshot:
  p The initial links list should be rearranged in a navigation bar. Bootstrap provides classes for the navigation bar: <b><code>.navbar</code></b> and <b><code>.navbar-inner</code></b> for the surrounding <b><code>#{'<div>'}</code></b> and <b><code>.nav</code></b> for the list of the links. The <b><code>brand</code></b> class styles the main link in navigation bar.
  p Several components from Bootstrap should be used: <b><code>.btn</code></b> for buttons, <b><code>.alert</code></b> for alert dialogues and <b><code>.progress</code></b> for progress bars. The rounded border for the text inputs is due to the <b><code>.search-query</code></b> class. The button icons are included through empty <b><code>#{'<i class="icon-...">'}</code></b> tags. The details about these classes could be found at:
  p <a href="http://twitter.github.com/bootstrap/base-css.html">Bootstrap base CSS</a>
  p <a href="http://twitter.github.com/bootstrap/components.html">Bootstrap components</a>