article
  mixin labHeader('Wireframe')

  h3 Duration
  p 15 minutes

  h3 Description
  p Connect to moqups.com and select <b>Project structure → +</b> to create a new work environment:

  p Next, create the following wireframe:

  p The components can be added dragging them to the workspace. It is also possible to customize a component and to edit its attributes by clicking on it (double click to change its content).
  p If in time, change the tabs by a 'steps' component that shows a step-by-step wizard.