article
  mixin appHeader('Node.js')

  p Several tools used in the labs require Node.js to work. To install it, download the appropriate version from the <a href="http://nodejs.org/#download">Node website</a>.
  p Ubuntu users can install it executing the following code:
  pre
    code.bash.
      sudo add-apt-repository ppa:chris-lea/node.js
      sudo apt-get update
      sudo apt-get install nodejs npm

  p Once installed, run inside the labs folder:
  pre
    code.bash.
      npm install

  p This should install the tools required by the different labs.