article
  mixin labHeader('CSS3 Buttons')

  h3 Duration
  p 30 minutes

  h3 Description
  p Repeat the buttons lab using exclusively CSS with gradients
  ul
    li To generate the gradients, use <a href="http://www.colorzilla.com/gradient-editor/">http://www.colorzilla.com/gradient-editor/</a> with the following specifics: 
    li Use 5px in each corner for the rounded borders.
    li Test the page with IE8 or Firefox 3.6. Use a fallback background with a solid color for old browsers.
    li Using <a href="http://caniuse.com">http://caniuse.com</a> find out which browsers will be able to display the gradients correctly.