article
  mixin labHeader('CSS3 Pie')

  h3 Duration
  p 20 minutes

  h3 Description
  p Modify the html markup and css to make border-radius, linear-gradient and box-shadow work in IE.
  ul
    li Download the latest version from <a href="http://css3pie.com/">CSS3 Pie</a>.
    li Extract <b>PIE.htc</b> and save it in the same location as index.html.
    li Put the conditional styles for IE inside the same CSS file used by the rest of the browsers.