article
  mixin appHeader('Sublime Text Editor 2')

  p For these labs we will use <b>Sublime Text Editor 2</b>, available for Windows, Linux and Mac at the <a href="http://www.sublimetext.com/">Sublime website</a>.
  p Ubuntu users can execute this:
  pre
    code.bash.
      sudo add-apt-repository ppa:webupd8team/sublime-text-2
      sudo apt-get update
      sudo apt-get install sublime-text-2

  h3#sublime-installing-packages Installing packages

  p To add syntax highlighting for LESS or Sass you need to install the <b>Sublime Package manager</b>.

  p Follow the instructions at <a href="http://wbond.net/sublime_packages/package_control/installation">Sublime Package Control</a>.
  p Once installed, open the package manager by clicking at <b>Preferences → Package Control → Install package</b>, and select <b>LESS</b> or <b>Sass</b> depending on the labs that are planned for your course.