article
  mixin labHeader('Browser cache')

  h3 Duration
  p 20 minutes

  h3 Description
  p Open <a href="http://koliseo.com">http://koliseo.com</a> with the Chrome dev tools opened in the Network tab. First, verify that the browser cache is not disabled in the chrome dev tools properties.
  ul
    li Press <b>F5</b> and check the number of 304 responses. Annotate the load time of the entire page, resources included. Check the HTTP headers returned in a 304 response. Is <b>Last-modified</b> or <b>ETag</b> used?
    li Press <b>Ctrl+F5</b> (or <b>Shift+Refresh button</b>) and measure again. Are there any 304 responses?
    li Select the URL in the browser, press <b>&lt;enter></b> and measure again. Is any resource retrieved from the browser?
    li Hit <b>Shift+Ctrl+N</b> to open a new Incognito Window and repeat the last step. Why is the result different?