article
  mixin labHeader('Fonts')

  h3 Duration
  p 30 minutes

  h3 Description
  ul
    li Modify the previous lab to use the Chunkfive font from <a href="http://www.fontsquirrel.com/fonts/ChunkFive">Font Squirrel</a> (click <b>@font-face Kit</b>).
    li Add the following CSS rule to the buttons:
    pre
      code.css.
        text-shadow: 0 0 5px #000
    li Test the page with IE.
    li Modify the lab to use the <b>Bangers</b> font from <a href="http://www.google.com/webfonts/family?family=Bangers">Google WebFonts</a>. The font should be linked, without downloading it locally.
    li Test the page remotely using <a href="#lab-testing-online">jsFiddle</a> using a mobile browser <b>without using the local network</b> (only through 3G). The <b>SVG</b> format (the one used by the phone) requires more space, which added to the reduced bandwidth delays the downloading and rendering of the page.
    li Add font-face icons to the buttons using <a href="http://fontello.com">Fontello</a>. Choose 3 icons and download the webfont. A fontello.css file is provided with the <code>@font-face</code> declaration. Add the appropriate empty <b><code>#{'<i class="icon-..."></i>'}</code></b> tags.