article
  mixin labHeader('CSS3 Maker')

  h3 Duration
  p 10 minutes

  h3 Description
  p Using Chrome, experiment with the new styles at <a href="http://www.css3maker.com/">CSS3 Maker</a>.
  ul
    li Select the <b>Border Radius</b> tab and increase the top left and bottom right borders up to half of the slider.
    li Select the <b>CSS Transform</b> tab and set <b>Rotate</b> to 50 degrees and <b>Scale</b> to maximum.
    li Inside the <b>CSS Transition</b> tab check the <b>On Hover</b> option. Next, increase the Rotate value up to half of the slider, click <b>Save</b> and hover the mouse over the test box. 
    li Repeat the process with <b>Rotate</b> set to zero and <b>Translate</b> to the maximum.
    li Select the <b>Box Shadow</b> tab and increase <b>Horizontal Length</b> up to half of the slider.