article
  mixin labHeader('Modernizr: Polyfill with Modernizr')

  h3 Duration
  p 40 minutes

  h3 Modernizr Customization
  p The full Modernizr build is too big for real projects. For this lab the student should create a custom Modernizr build including:
  ul
    li Input Types
    li Input Attributes
    li hmtl5shiv v3.6
    li Modernizr.load (yepnope.js)
  img(src="assets/raster/modernizr-builder.png")
  p Once downloaded, it should be included using a script tag at the end of the &lt;body> tag. After this tag you can start using yepnope to load the required polyfills.
  pre
    code.html.
      &lt;script src="modernizr.custom.11198.js">&lt;/script> 
      &lt;script> 
        yepnope(...); 
      &lt;/script>

  h3 Description
  p Make the previous lab work in Firefox 3.6 or IE8 using polyfills:
  p <a href="http://github.com/Modernizr/Modernizr/wiki/HTML5-Cross-browser-Polyfills">Cross browser polyfills</a>
  p <b>All the polyfills needed are in the after folder of this lab</b>
  p The following features should be implemented:
  ul
    li <b>autofocus:</b> use <b>autofocus.js</b>, which does not need initialization.
    li <b>placeholder:</b> Use the jQuery placeholder plugin (by Mathias Bynens) and initialize it indicating the inputs it should process:
      pre
        code.javascript.
          { 
            test: Modernizr.input.placeholder, 
            nope: 'jquery.placeholder.min.js',
            callback: function() {
              $('input').placeholder();
            }
          }
    li <b>required and input types:</b> If the browser does not include a native support for required inputs and several input types, as range type, we will use the jQuery plugin created by Andrew Dodson, loading the javascript and its css styles:
      pre
        code.javascript.
          { 
            test: Modernizr.input.required, 
            nope: ['jquery.form.css','jquery.form.js'], 
            callback : function(url, test, key) {
              url == 'jquery.form.js' && $('#form1').form();
            }
          }
