article
  mixin labHeader('CSS3 Buttons')

  h3 Duration
  p 30 minutes

  h3 Description
  p Repeat the buttons lab using exclusively CSS with gradients
  ul
    li To generate the gradients, use <a href="http://www.colorzilla.com/gradient-editor/">ColorZilla gradient generator</a> with the following specifics: 
      table.table.table-bordered
        thead
          tr
            th
            th Color range
            th Hover color range
            th Border
        tbody
          tr
            th button1
            td #2daebf - #007787
            td #007787 - #0a272b
            td #007787
          tr
            th button2
            td #ffb515 - #fc9200
            td #fc9200 - #d87d00
            td #fc9200
          tr
            th button3
            td #9c9c9c - #7c7c7c
            td None
            td #7c7c7c

    li Use 5px in each corner for the rounded borders.
    li Test the page with IE8 or Firefox 3.6. Use a fallback background with a solid color for old browsers.
    li Using <a href="http://caniuse.com">Can I Use...</a> find out which browsers will be able to display the gradients correctly.