article
  mixin labHeader('Comparison: Website comparison')

  h3 Duration
  p 15 minutes

  h3 Description
  p Compare the home page of three websites (<a href="http://ticketmaster.com">Ticketmaster</a>, <a href="http://entradas.com">Entradas.com</a> and <a href="http://koliseo.com">Koliseo</a>) using <a href="http://webpagetest.org">WebPagetest</a>.
  p Study the generated film strip and convert it to video.