article
  mixin labHeader('Video for everyone')

  h3 Duration
  p 15 minutes

  h3 Description
  p Go to <a href="http://sandbox.thewikies.com/vfe-generator/">Video for Everybody</a> and generate a video supported by all browsers without javascript. 
  p This page uses the formats <b>H.264</b> (mp4), <b>WebM</b> (webm) and <b>Ogg</b> (ogv), where each browser sticks with the last one that is able to read. The page also provides a fallback to Flash for browsers that do not support the <code>&lt;video></code> tag.
  p Using the slide with the supported formats for each browser, answer the following questions:
  ul
    li Which format is used by Firefox 3.6?
    li Which format is used by Chrome?
    li Which format is used by Safari?
    li Which format is used by Internet Explorer 8?