article
  mixin labHeader('Bootstrap 1: Scaffolding with Bootstrap')
  h3 Duration
  p 15 minutes
  h3 Description
  p A mockup of a webpage introducing Bootstrap is provided, together with the HTML contents. Adapt these contents to the scaffolding shown in capture. To do so, add the appropiate Bootstrap classes to the HTML elements. <b>Do not remove existing classes</b>.
  p The paragraphs presenting the features of Bootstrap should be arranged in a three column grid.
  p Bootstrap grid system uses <b>.span*</b> classes with scaffolding, inside rows defined by <b>.row</b>
  p The <b>.container</b> class is used to wrap and center all the content in a 940px wide container
  p The bootstrap documentation can be found at <a href="http://twitter.github.com/bootstrap">http://twitter.github.com/bootstrap</a>