article
  mixin labHeader('Schema: schema.org')

  h3 Duration
  p 15 minutes

  h3 Description
  p Starting with the provided page, adapt it to use schema.org:
  ul
    li Modify the venue data using <a href="http://schema.org/CivicStructure">http://schema.org/CivicStructure</a>.
    li Modify the events using <a href="http://schema.org/Event">http://schema.org/Event</a>.
    li Validate the HTML using <a href="http://www.google.com/webmasters/tools/richsnippets">Google Structured Data Testing Tool</a>.