article
  mixin labHeader('HTML5 Boilerplate')

  h3 Duration
  p 15 minutes

  h3 Description
  p Starting with the provided page, adapt it to use schema.org:
  ul
    li Go to <a href="http://html5boilerplate.com/">HTML5 Boilerplate</a>.
    li Click <b>Get a custom build</b>.
    li Select <b>Bootstrap build</b> with the default values.
    li Click <b>Download it</b>, uncompress and inspect the downloaded code.