article
  mixin labHeader('Testing online')

  p To test any lab online, write the contents into <b>jsFiddle</b> (<a href="http://jsfiddle.net">http://jsfiddle.net</a>), click <b>Save</b> and them <b>Share</b>. Copy the URL at Share full screen result in the dropdown menu.
