article
  mixin labHeader('LocalStorage')

  h3 Duration
  p 10 min

  h3 Description
  p The proposed web page is prepared to store and reload the user selection. Fill the gaps using store.js to store and retrieve the selected role.
  p If in time, add and store a second field with the user name.