article
  mixin labHeader('Semantics: semantics elements')

  h3 Duration
  p 15 minutes

  h3 Description
  p Starting with the provided page, adapt it to use schema.org:
  ul
    li Convert the provided markup for a blog post to semantic HTML5 using <b>section</b>, <b>nav</b>, <b>header</b> and <b>article</b>. Also, transform any h2 tags into h1.
    li Update the CSS so that the layout still works in Chrome and Firefox. Add JavaScript to make it work in IE.
    li Check the resulting page structure using HTML5 Outliner <a href="http://gsnedders.html5.org/outliner/">http://gsnedders.html5.org/outliner/</a>