article
  mixin labHeader('Button bar')
  h3 Duration
  p 30 minutes
  h3 Description
  p Design a button bar with centered text in each button. Use the suggested file sprite.png
  img(src="assets/raster/button-bar.png")
  p To calculate the width and the background-position of each sprite it is recommended to indicate a test value in CSS and change it in the CSS console in the browser, using the up and down arrows.