article
  mixin labHeader('Multicolumn: multicolumn CSS')
  h3 Duration
  p 10 minutes
  h3 Description
  p Modify the provided page to apply the following column divisions:
  ul
    li <b>two-cols:</b> Two columns separated by a 20px gap.
    li <b>three-cols:</b> Three columns separated by a 40px gap, and a column-rule: 1px solid #ccc.
