article
  mixin labHeader('CSS Lint')

  h3 Duration
  p 20 minutes

  h3 Description
  p Optimize the CSS code of the provided page using <a href="http://csslint.net/">CSS Lint</a> and fix any issues.
  ul
    li <b>Modify the html markup</b> if necessary.
    li <b>Avoid any duplicated properties</b> reported by the tool.
    li Add any properties required by <b>Firefox, Chrome, Safari, IE or Opera</b>.
  p If in time, modify this lab to use <b>Sass or LESS mixins</b>.
