article
  mixin labHeader('Badges: Button Badges with CSS')

  h3 Duration
  p 10 minutes

  h3 Description
  p A simple button bar is provided where each button has a numeric attribute, <b><code>data-badge</code></b>. Add a :hover selector that displays the value of this attribute inside a notification badge without modifying the HTML markup.
  p To achieve this you should use <b><code>content:attr(data-badge)</code></b> in a :after selector. Relocation may be achieved using position:relative.
