article
  mixin labHeader('Transitions')
  h3 Duration
  p 30 minutes
  h3 Description
  ul
    li Starting with the proposed web page displaying three cards, add the following transformations:
      ul
        li <b>First card:</b> scale 70%, rotate 15 degrees and translate 100px to the right.
        li <b>Second card:</b> scale 70%, rotate -10 degrees and translate 20px upwards.
        li <b>Third card:</b> scale 70%, rotate 5 degrees and translate 20px to the right.
    li Each card should <b>remove its scaling and rotation</b> when hovered or focused with the keyboard. Use :hover and :focus for this.
    li All transitions should take <b>half a second</b>.
    li The center for the card transitions should be not the default (center) but <b>20% from the top left corner</b> of each card.