article
  mixin labHeader('Print Css')
  h3 Duration
  p 25 minutes
  h3 Description
  p This lab can be carried out:
  ul
    li using the <b>Print Preview</b> in Firefox/Chrome.
    li by installing a PDF printer like <b>CutePDF Printer</b>(<a href="http://www.cutepdf.com"></a>) in Windows.
    li by using the <b>print to PDF</b> option in Linux

  p Starting with the proposed HTML page and its corresponding pring CSS complete the following steps:
  ul
    li <b>Underline the links</b> in the printed version, and <b>add the link target</b> surrounded by parenthesis.
    li Confirm that the <b>page background is not displayed</b> in the print version.
    li In order to override the browser settings, add a CSS selector that <b>eliminates the background images</b>.
    li Modify the CSS so the content fills <b>the whole width of the page</b>.
    li <b>Remove the options menu</b> at the left side of the page.
    li <b>Add a QR code</b> with the webpage link only for the printed version. Use <b>Kaywa QR code generator</b> (<a href="http://qrcode.kaywa.com/">http://qrcode.kaywa.com/</a>) to create the image that you will use.
