section
    article
      h2#labs-introduction How to use this lab guide
      p The files required to implement these labs can be downloaded as a zip file from <a href="http://github.com/instructormatters/html5css3">http://github.com/instructormatters/html5css3</a>
      p Alternatively, they can also be obtained by cloning the repository using Git. 
      h3 Installing Git
      p Git can be downloaded for Windows and Mac from <a href="http://git-scm.com/downloads">http://git-scm.com/downloads</a>.
      p There is also a package for Ubuntu:
      pre
        code sudo apt-get install git git-gui gitk
      h3 Cloning the repository
      p Once Git is installed, run <code>git clone</code>:
      pre
        code git clone git://github.com/instructormatters/html5css3.git
      p This should create the html5css3/labs folder.

      h3 Structure
      p Each lab is divided into two folders, Before and After. Before provides with all files needed to start the exercise. After contains the finished version of the exercise to help you along.
      h3 Applications
      p The applications required for the labs can be found in the Appendix section at the end of this document.
