body {
	height: auto;
	padding-bottom: 32px;
}
#two-cols, #three-cols {
	margin-bottom: 32px;
	background-color: #ededed;
	padding: 6px;
	border: 1px solid #ccc;
	border-radius: 6px;
}
#two-cols {
	-moz-column-count: 2;
	-moz-column-gap: 20px;
	-webkit-column-count: 2;
	-webkit-column-gap: 20px;
	column-count: 2;
	column-gap: 20px;
}
#three-cols {
	-moz-column-count: 3;
	-moz-column-gap: 20px;
	-webkit-column-count: 3;
	-webkit-column-gap: 20px;
	column-count: 3;
	column-gap: 20px;
	-webkit-column-rule-style: dotted;
	-webkit-column-rule-width: 3px;
	-moz-column-rule-style: dotted;
	-moz-column-rule-width: 3px;
	column-rule-style: dotted;
	column-rule-width: 3px;
}
img  {
	margin: 6px 0;
	border-radius: 6px;
}
