h1, h2 {
	font-size: 24px;
}
h2 {
	height: 64px;
	margin-bottom: 6px;
}
#main {
	margin-bottom: 12px;
	padding: 10px 0;
	border-bottom: 1px solid #ddd;
}
ul, #info {
	display: inline-block;
	vertical-align: top;
}
#nav {
	padding: 5px 6px;
	width: 132px;
	font-size: 12px;
	background-color: #fafafa;
}
#nav li {
	margin: 0 0 10px 1.3em;
	list-style: outside disc;
}
#news {
	list-style: none;
	margin-bottom: 0;
	padding: 0 12px;
	width: 552px;
}
#news li {
	margin: 0 0 22px 0;
	font-size: 14px;
}
img.new {
	float: left;
}
h2 a {
	display: block;
	line-height: 25px;
	padding-left: 5px;
}
span {
	font-size: 11px;
	color: #666;
	padding-left: 5px;
}
#info {
	padding: 5px 6px;
	width: 180px;
	min-height: 300px;
	background-color: #fafafa;
}
#footer {
	padding-bottom: 10px;
	font-size: 11px;
	color: #666;
	text-align: center;
}
.more-info {
	font-size: 11px;
}

@media only screen and (max-width: 768px) and (orientation: landscape) {
	body {
		-webkit-text-size-adjust: 100%;
		-ms-text-size-adjust: none;
		width: 768px;
	}
	#nav {
		display: block;
		width: 768px;
	}
	#nav li {
		display: inline-block;
		list-style: none outside none;
	}
	#news {
		margin: 0 5px;
		width: 427px;
	}
	#news li {
		border: 1px solid #ccc;
		display: inline-block;
		vertical-align: top;
		width: 209px;
	}
}

@media only screen and (max-width: 480px) {
	body {
		-webkit-text-size-adjust: 100%;
		-ms-text-size-adjust: none;
		padding: 0 2px;
		width: auto;
		max-width: 480px;
	}
	#info,
	#nav,
	#footer {
		display:none;
	}
	h1{
		padding: 0 20px;
	}
	h1,h2 {
		font-size: 20px;
		display: inline-block;
		height: auto;
	}
	#news {
		display: block;
		margin: 0 5px;
		width: auto;
	}
	#news li {
		border: 1px solid #ccc;
		display: inline-block;
		padding-bottom: 20px;
		padding: 0 5px 5px 5px;
		position: relative;
		vertical-align: top;
		width: 125px;
		min-height: 100px;
	}
	h2 a {
		padding: 0;
	}
	img.new {
		display: none;
	}
	span {
		display: block;
		margin-top: 3px;
		padding: 0;
	}
	.more-info {
		position: absolute;
		bottom: 5px;
		right: 5px;
	}
}
