section
  h2 CSS Zen Garden
  p Separation between presentation and content

section
  h2 Pixel vs Percentage
  ul
    li YUI fonts default:
    ul
      li Base size: 13px/16px
      li Everything else: percentages
    li Not needed anymore.