section
  h2 HTML

  p.read-block <b>Hypertext Mark-up Language</b>
  p.read-block Developed by <b>Tim Berners-Lee</b> in 1989
  p.read-block Maintained by the <b>World Wide Web Consortium</b> (W3C) since 1996

section
  h2 History of HTML

  ul.read-block
    li <b>HTML 2.0</b>: 1995
    li <b>HTML 3.2</b>: January 1997
    li <b>HTML 4.0</b>: December 1997
    li <b>HTML 5</b>: Draft

section
  h2 CPU transistor counts
  img(src="assets/raster/moore-law.png")

section
  h2 Average PC 98/99

  ul
    li <b>500 mHz</b> PII / K6
    li <b>64 MB</b> RAM
    li <b>10 GB</b> HDD

section
  h2 10 GB?

  ul.read-block
    li <b>iPod nano</b>: 8-16 GB
    li <b>iPod classic</b>: 160 GB
    li <b>Micro SD Card</b>: +32 GB

section
  h2 500 MHz + 64MB RAM?

  ul.read-block
    li <b>iPhone 3</b>: 600 MHz + 256 MB RAM
    li <b>iPhone 4</b>: 1 GHz + 512 MB RAM

//- section
//-   h2 HTML 4.0-4.1