a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.content {
	float: left;
	width: 718px;
	padding: 0 10px;
	border: 1px solid #dadada;
}
.content img {
	float: left;
	margin: 0 14px 10px 0;
	width: 320px;
}
.text {
	float: left;
	width: 364px;
	margin-bottom: 20px;
	padding: 0 10px;
}
#nav {
	float: left;
	margin: 0;
	width: 144px;
	list-style: none;
}
#nav li {
	margin-left: 0;
}
.active {
	color: #000;
	font-weight: bold;
	text-decoration: none;
}

#qr-code {
	display:none;
}
