body {
	width: auto;
	background-image: none;
}
a {
	text-decoration: underline;
}
a:after {
	content: " ("attr(href)") ";
	font-size: 10pt;
}
#nav {
	display: none;
}
img#qr-code {
	display: block;
	float: right;
	margin-top: -25px;
	width: 150px;
}
