@import "compass";

$entryPadding: 1%;
$entryWidth: 99%/2 - 2*$entryPadding;

$rightTextColor: #b3b3b3;
$rightBgColor: #4d4d4d;

$linkDiameter: 60px;
$linkMargin: 20px;

$linkListWidth: 3*($linkDiameter + 2*$linkMargin) + 10px;

$leftLinkBg: #ddcc77;
$leftLinkShadow: #666644;

$rightLinkBg: darken(complement($leftLinkBg), 30%);
$rightLinkShadow: #8f8fb4;


a {
  cursor: pointer;
}

.entry {
  text-align: center;
}

.right, .left {
  width: $entryWidth;
  padding: 0 $entryPadding;
  margin-top: 100px;
  float: left;
}

/* Links list */
.links {
  //3 times the width of a single link, approximately
  width: $linkListWidth;

  //Centering
  margin-left: auto;
  margin-right: auto;

  li {
    display: inline-block;
    text-align: center;
    
    width: $linkDiameter;
    // height = width, in order to draw the circle properly
    height: $linkDiameter;
    margin: 0 $linkMargin;
    
    //Border radius
    @include border-radius(50%);
  }

  a {
    display: block;

    // line-height = height, for vertical centering
    line-height: $linkDiameter;

    &:hover {
      text-indent: 0%;
      background: transparent;
    }
  }
}

/* Background and shadow for the links*/

.left {
  .links li {
    background-color: $leftLinkBg;
    &:hover {
      @include box-shadow($leftLinkShadow 0 0 10px);
    }
  }
  
  .like-link {
    @include replace-text("img/like-left.png");
  }

  .hate-link {
    @include replace-text("img/hate-left.png");
  }

  .share-link {
    @include replace-text("img/share-left.png");
  }
}

.right {
  color: $rightTextColor;
  background-color: $rightBgColor;

  .links li {
    background-color: $rightLinkBg;
    &:hover {
      @include box-shadow($rightLinkShadow 0 0 10px); 
   }
  }

  .like-link {
    @include replace-text("img/like-right.png");
  }

  .hate-link {
    @include replace-text("img/hate-right.png");
  }

  .share-link {
    @include replace-text("img/share-right.png");
  }
}
