/* line 21, style.scss */
a {
  cursor: pointer;
}

/* line 25, style.scss */
.entry {
  text-align: center;
}

/* line 29, style.scss */
.right, .left {
  width: 47.5%;
  padding: 0 1%;
  margin-top: 100px;
  float: left;
}

/* Links list */
/* line 37, style.scss */
.links {
  width: 310px;
  margin-left: auto;
  margin-right: auto;
}
/* line 45, style.scss */
.links li {
  display: inline-block;
  text-align: center;
  width: 60px;
  height: 60px;
  margin: 0 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
/* line 58, style.scss */
.links a {
  display: block;
  line-height: 60px;
}
/* line 64, style.scss */
.links a:hover {
  text-indent: 0%;
  background: transparent;
}

/* Background and shadow for the links*/
/* line 74, style.scss */
.left .links li {
  background-color: #ddcc77;
}
/* line 76, style.scss */
.left .links li:hover {
  -webkit-box-shadow: #666644 0 0 10px;
  -moz-box-shadow: #666644 0 0 10px;
  box-shadow: #666644 0 0 10px;
}
/* line 81, style.scss */
.left .like-link {
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
  background-image: url('img/like-left.png?1344597237');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
/* line 85, style.scss */
.left .hate-link {
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
  background-image: url('img/hate-left.png?1344597237');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
/* line 89, style.scss */
.left .share-link {
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
  background-image: url('img/share-left.png?1344597237');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

/* line 94, style.scss */
.right {
  color: #b3b3b3;
  background-color: #4d4d4d;
}
/* line 98, style.scss */
.right .links li {
  background-color: #253896;
}
/* line 100, style.scss */
.right .links li:hover {
  -webkit-box-shadow: #8f8fb4 0 0 10px;
  -moz-box-shadow: #8f8fb4 0 0 10px;
  box-shadow: #8f8fb4 0 0 10px;
}
/* line 105, style.scss */
.right .like-link {
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
  background-image: url('img/like-right.png?1344597237');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
/* line 109, style.scss */
.right .hate-link {
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
  background-image: url('img/hate-right.png?1344597237');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
/* line 113, style.scss */
.right .share-link {
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
  background-image: url('img/share-right.png?1344597237');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
