section
  mixin browserSupport('All', '3.5+', '3.2+', '6+', '10+')
  h2 @font-face
  pre
    code.
      @font-face {
        font-family: 'permanentmarker';
        src: url('pm.eot'); /* IE */
        src: local('permanentmarker'),
               url('pm.ttf') format('truetype');
      }

      h1 {
          font-family: permanentmarker;
      }
  #ex-font-face
    style
      @font-face {
          font-family: 'permanentmarker';
          src: url('assets/font/PermanentMarker-webfont.ttf') format('truetype');
          font-weight: normal;
          font-style: normal;
      }
      #ex-font-face h3 {
        font-family: permanentmarker;
        color: black;
      }
    h3 Permanent Marker

section
  h2 Font formats
  p The current de facto standard is <b>Web Open Font Format (.woff)</b>
  table.table
    thead
      tr
        | <th></th> <th>eot</th> <th>ttf/otf</th> <th>woff</th> <th>svg</th>
    tbody
      tr
        | <td>Chrome</td>
        | <td>no</td> <td>4+</td> <td>5+</td> <td>4+</td>
      tr
        | <td>Safari</td>
        | <td>no</td> <td>3.1+</td> <td>5.1+</td> <td>3.1+</td>
      tr
        | <td>Firefox</td>
        | <td>no</td> <td>3.5+</td> <td>3.6+</td> <td>no</td>
      tr
        | <td>Internet Explorer</td>
        | <td>5+</td> <td>9+</td> <td>9+</td> <td>no</td>
      tr
        | <td>Android</td>
        | <td>no</td> <td>2.2+</td> <td>no</td> <td>yes</td>
      tr
        | <td>iPhone</td>
        | <td>no</td> <td>no</td> <td>no</td> <td>yes</td>

section
  h2 Font features

  style
    @font-face {
      font-family: 'Trocchi';
      src: url('assets/font/Trocchi-webfont.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
    }

    @font-face {
        font-family: 'Linux';
        src: url('assets/font/LinLibertine_RI.woff') format('truetype');
        font-weight: normal;
        font-style: normal;
    }

    #font-features .ligs-on {
      -webkit-font-feature-settings: "liga", "dlig", "hlig";
      -webkit-font-variant-ligatures: common-ligatures;
    }

    #font-features .trocchi {
      font-family: 'Trocchi';
    }

    #font-features .libertine {
      font-family: 'Linux';
    }

  table.big-table#font-features
    thead
    tbody
      tr
        td Kerning off
        td
          h3.trocchi YAWAVA
      tr
        td Kerning on
        td
          h3.trocchi(style="text-rendering: optimizeLegibility;") YAWAVA
      tr
        td Glyphs off
        td
          h3.libertine affidavit Quiet style detection
      tr
        td Glyphs on
        td
          h3.libertine.ligs-on affidavit Quiet style detection
section
  h2 Flash of unstyled text

  p.read-block <b>Firefox and Opera</b> show the next font until it is downloaded

  p.read-block <b>IE and Webkit</b> do not show anything

section
  h2 Font repositories
  ul.read-block
    li
      a(href="http://fontsquirrel.com") <b>Squirrel font</b>
    li
      a(href="http://google.com/webfonts") <b>Google Web Fonts</b>

section
  h2 Font-face icons

  p Place icons inside a custom font

  style
    @font-face {
      font-family: 'IconicFill';
      src: url('assets/font/iconic_fill.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
    }

    .iconic {
      font-family: 'IconicFill';
    }
  p
    span.iconic &#xe06a;
    span.iconic &#xe033;
    span.iconic &#x00b6;
    span.iconic &#x2717;
    span.iconic &#xe02e;
    span.iconic &#xe01b;
    span.iconic &#xe04d;

section
  h2 sFIR icons

  p HTML
  pre
    code.
      #{'<span class="icon icon-mail"></span>'}
      #{'<span class="icon icon-star"></span>'}

  p CSS
  pre
    code.
      .icon {
        background: url('icons-sprite.png') no-repeat;
        width: 0px;
        height: 12px;
        display: inline-block;
      }

      .icon-mail {
        background-position: -10px -40px;
      }
      ...
  #ex-font-icons
    span.iconic(style="font-size: 40px;") &#x2709;
    span.iconic(style="font-size: 40px;") &#x2605;

section
  h2 Font-face icons

  p HTML
  pre
    code.
      #{'<span class="icon icon-mail"></span>'}
      #{'<span class="icon icon-star"></span>'}

  p CSS
  pre
    code.
      @font-face {
        font-family: 'iconic';
        ...
      }

      .icon  {  font-family: iconic;  }

      .icon-mail:before {
        content: '✉';
      }
  #ex-font-icons
    span.iconic(style="font-size: 40px;") &#x2709;
    span.iconic(style="font-size: 40px;") &#x2605;

section
  h2 Iconic fonts

  ul
    li
      a(href="http://somerandomdude.com/work/iconic/") Iconic
    li
      a(href="http://fico.lensco.be/") Fico
    li
      a(href="http://fortawesome.github.com/Font-Awesome/") Font Awesome
    li
      a(href="http://glyphicons.com/") Glyphicons
    li
      a(href="http://fontello.com/") Fontello (font packer)

section
  h2 Beware

  p.read-block <b>Font files sizes:</b> You don't need everything!
  p.read-block <b>Arbitrary key-bindings</b>
  p.read-block <b>Non-semantic content</b> (aria-hidden)


section(data-state="lab")
  h2 Lab: Fonts

  p Change the fonts in the previous lab