section
  h2 W3C's recommendation
  p Don't use it (yet)

section
  h2 Current status
  ul
    li <b>Explorer (9+):</b> -ms-*
    li <b>Firefox:</b> -moz-*
    li <b>Chrome, Safari:</b> -webkit-*
    li <b>Opera (10+):</b> -o-*


section
  h2 A tale of browser parts
  table.table
    thead
      tr
        th
        th Layout engine
        th Javascript engine
    tbody
      tr
        th Chrome
        td Webkit
        td V8
      tr
        th Safari
        td Webkit
        td Nitro
      tr
        th Firefox
        td Gecko
        td TraceMonkey (3.5),
          | <br/>
          | JägerMonkey (4+)
      tr
        th Internet Explorer
        td Trident
        td Chakra
      tr
        th Android Browser
        td Webkit
        td V8

section
  h2 CSS3 browser support
  p.read-block Reasonable support in browsers
  p.read-block
    a(href="http://delicious.com/html5css3/support") http://delicious.com/html5css3/support
  p.read-block CSS and JS tricks to support legacy browsers

section
  h2 Pixel perfect isn't necessary!
  p Shadows, gradients, transitions, rounded corners...

section(data-state="lab")
  h2 Lab: CSS3 maker
  p Play with the new CSS styles