section
  h2 Current status
  ul
    li <b>Chrome, Safari:</b> -webkit-*
    li <b>Firefox:</b> -moz-*
    li <b>Explorer (9+):</b> -ms-*
    li <b>Opera (10+):</b> -o-*


section
  h2 A tale of browser parts
  table.table
    thead
      tr
        th
        th Layout engine
        th JavaScript engine
    tbody
      tr
        th Chrome
        td Webkit
        td V8
      tr
        th Safari
        td Webkit
        td Nitro
      tr
        th Firefox
        td Gecko
        td TraceMonkey (3.5),
          | <br/>
          | JägerMonkey (4+)
      tr
        th Internet Explorer
        td Trident
        td Chakra
      tr
        th Android Browser
        td Webkit
        td V8

section
  h2 CSS3 browser support
  p.read-block Modern browsers support most of it
  p.read-block CSS and JS tricks for legacy browsers

section
  h2 Pixel perfect isn't necessary!
  p Shadows, gradients, transitions, rounded corners...
  style.
    #ex-pixelperfect .pixelperfect {
      border: 1px solid #ccc;
      padding: 5px;
      font-size: 80%;
    }
  #ex-pixelperfect.row-fluid
    .span6
      .pixelperfect(style="border-radius: 10px; box-shadow: 0 0 5px rgba(128, 128, 128, .5)") Hello Chrome!
    .span6
      .pixelperfect Hello Explorer!

section(data-state="lab")
  h2 Lab: CSS3 maker
  p Play with the new CSS styles