section.browser-support-container
  mixin browserSupport('All', 'All', 'All', 'No', 'No')
  h2 user-select

  p user-select: <b>all | text | none</b>

  pre
    code.
      body {
        user-select: none;
      }

      p {
        user-select: text;
      }

  #ex-user-select(style="background:none")
    style
      #ex-user-select .unselectable {
        -webkit-user-select: none;
      }

    p.unselectable Lorem impsum unselectabilis