section.browser-support-container
  mixin browserSupport('All', '3.5+', '3.2+', '7+', '9.5+')
  h2 New selectors
  p Later general sibling
  pre
    code.
      h2 ~ p {
        color: orangered;
      }
  #ex-general-sibling
    style
      #ex-general-sibling .header { font-weight: bold; margin-bottom: 0; }
      #ex-general-sibling .header ~ p { color: orangered; margin-bottom: 0; }
    p.read-block.header This is a header
    p.read-block This is a p
    div.read-block This is a div
    p.read-block This is a p

section
  h2 New selectors
  style
    #new-selectors tr:first-child td {
      border-top: none;
    }

  table.table#new-selectors
    tbody
      tr
        td [foo~="bar"]
        td.read-block &lt;div foo="<span style="color: red">bar</span> whatever"&gt;
      tr
        td [foo^="bar"]
        td.read-block &lt;div foo="<span style="color: red">bar</span>tender"&gt;
      tr
        td [foo$="bar"]
        td.read-block &lt;div foo="tool<span style="color: red">bar</span>"&gt;
      tr
        td [foo*="bar"]
        td.read-block &lt;div foo="sylla<span style="color: red">bar</span>y"&gt;
      tr
        td [foo|="bar"]
        td.read-block &lt;div foo="<span style="color: red">bar</span>-tender"&gt;

section
  section
    mixin browserSupport('All', '3.5+', '3.2+', '9+', '9.5+')
    h2 New pseudo-classes
    
    style
      #new-pseudo-classes tr:first-child td {
        border-top: none;
      }
    table.table#new-pseudo-classes
      tr
        td :root
        td Root &lt;html> element
      tr
        td :only-child
        td Applies if the element is the only child
      tr
        td :empty
        td Applies to empty elements
      tr
        td :not
        td Negates a simple element
  section
    h2 New pseudo-classes
    p :not
    pre
      code.
        .element:not(p) {
          color: orange;
        }
    #ex-not
      style
        #ex-not .ex-not:not(p) {
          color: orange;
        }
      span.ex-not I am a &lt;span>
      p.ex-not I'm a &lt;p>
      ul.ex-not
        li I'm a &lt;li>
  section
    h2 New pseudo-classes
    p :only-child
    pre
      code.
        li:only-child {
          color: orange;
        }
    #ex-only-child
      style
        #ex-only-child li:only-child {
          color: orange;
        }
      ul
        li I have no siblings
      br
      br
      ol
        li I have a brother
        li I have a sister

section
  h2 UI elements' states
  pre
    code.
      :enabled {
        background-color: #csdc;
      }
      :disabled {
        background-color: #dcc;
      }
      :checked + label {
        font-weight: bold;
      }
  #ex-ui-states(style="background-color:transparent;")
    style
      #ex-ui-states :checked + label {
        font-weight: bold;
      }
      #ex-ui-states input:enabled {
        background-color: #cdc;
      }
      #ex-ui-states input:disabled {
        background-color: #dcc;
      }
      #ex-ui-states input[type=radio],
      #ex-ui-states input[type=radio] + label {
        display: inline-block;
        margin-right: 5px;
      }
    form.form-horizontal
      .control-group
        label Disabled input
        input(type="text", disabled)
      .control-group
        label Enabled input
        input(type="text")
      .control-group
        input(type="radio", value=1, name="radio")
        label do it today
        br
        input(type="radio", value=2, name="radio")
        label do it tomorrow


section
  h2 Element-preserving
  p :first-of-type
  p :last-of-type
  p :nth-of-type(n)
  p :only-of-type

section
  h2 Reverse counting
  p :nth-last-child(n)
  p :nth-last-of-type

section
  h2 Style selected text
  pre
    code.
      p::selection,
      p::-moz-selection,
      p::-webkit-selection {
        background-color: pink;
      }
  style.
    #ex-selected-text > p::selection,
    #ex-selected-text > p::-moz-selection,
    #ex-selected-text > p::-webkit-selection {
      background-color: pink;
    }
  #ex-selected-text(style="background-color:transparent;")
    p Select this entire slide with your mouse and compare the selected text colors.

section
  section#target-selector.browser-support-container
    mixin browserSupport('All', '3.5+', '3.2+', '9+', '9.5+')
    h2 :target
    pre
      code.
        #{'<div id="my_stuff">'}
        #{'  <p>Ey, look at me!</p>'}
        #{'</div>'}
        #{'<a href="#my_stuff">Go there</a>'}
    pre
      code.
        div:target {
          background-color: gray;
        }
    style
      #target-selector:target {
        background-color: gray;
      }
  section
    a(href="#target-selector") Go back!
    p (and pay attention to the browser hash)