section
  mixin browserSupport('All', '3.5+', 'All', '10+', '9.5+')
  h2 text-shadow
  p {x offset} {y offset} {blur-radius} {color} <br>
    | {text-shadow1}, {text-shadow2}, ...
  pre
    code.
      .container {
        text-shadow: 5px 5px 5px #000;
      }
  #ex-text-shadow
    style
      #ex-text-shadow h3 {
        text-shadow: 5px 5px 5px #000;
      }
    h3 I have a shadow