section
  mixin browserSupport('All', '3.5+', 'All', '9+', '10.5+')
  h2 transformation
  p transform: <b>rotate | scale | skew | translate</b>

section
  h2 rotate
  p <b>rotate(degrees | radians)</b>

  pre
    code.
      .block {
        -webkit-transform: rotate(-10deg);
        -moz-transform:    rotate(-10deg);
        transform:         rotate(-10deg);
      }

  #ex-rotate
    div(style="height: 150px;-webkit-transform: rotate(-10deg);").yellow-bg

section
  h2 Prefixed
  p Transformations should be prefixed with <br><b>-webkit, -o, -moz and -ms</b>
  p We will omit these for the sake of clarity

section
  h2 transform-origin

  table.table.table-bordered
    tbody
      tr <td>0, 0<td>top left
      tr <td>100%, 100%<td>bottom right
      tr <td>50%, 50% <td>center center (default)
      tr <td>-100px, -100px <td>also allowed

  pre
    code.
      .center {
        transform: rotate(-10deg);
        transform-origin: 0 100%;
      }
  style.
    #ex-rotate-origin > .rotate-origin {
      height: 150px;
      -webkit-transform: rotate(-10deg);
      -webkit-transform-origin: left bottom;
    }
  #ex-rotate-origin(style="height: 150px;")
    div.rotate-origin.yellow-bg

section
  h2 translate

  p <b>translate(x,y) | translatex(x) | translatey(y)</b>

  pre
    code.
      .block {
        transform: translate(20px, 50px);
      }

  #ex-translate(style="height: 150px;")
    div(style="height: 150px;\
      -webkit-transform: translate(30px, 50px);").yellow-bg


section
  h2 Combinations

  pre
    code.
      .block {
        transform: translate(-100px, 100px) rotate(15deg);
      }
  #ex-combinations(style="height: 150px;")
    div(style="height: 150px;\
      -webkit-transform: translate(-100px, 100px) rotate(15deg);").yellow-bg

section
  h2 scale

  p <b>scale(x, y) | scalex(x) | scaley(y)</b>
  table.table.table-bordered
    tbody
      tr <td>&lt; 1 <td>zoom in
      tr <td>&gt; 1 <td>zoom out
      tr <td>&lt; 0 <td>flip

  pre
    code.
      .block {
        transform: scale(0.75);
      }

  #ex-scale(style="height: 150px;")
    div(style="height: 150px;\
      -webkit-transform: scale(0.75);").yellow-bg

section
  h2 skew

  p <b>skew(x, y) | skewx(x) | skewy(y)</b>

  pre
    code.
      .skewblock {
        transform: skew(-20deg, 0);
      }

  #ex-skew(style="height: 150px;")
    div(style="height: 150px;\
      -webkit-transform: skew(-20deg, 0);").yellow-bg

section.browser-support-container
  mixin browserSupport('12+', '10+', '4+', '10+', 'No')
  h2 3D transforms
  p Still not commonplace
  p Support is heavily tied to the OS
  pre
    code.
      translate3d(x, y, z), translateZ(z)
      scale3d(x, y, z), scaleZ(z)
      rotate3d(x, y, z, angle)
      perspective(p)
      matrix3d(m)

section
  h2 Drawing with CSS
  p 200 lines of CSS + 30 lines of HTML
  iframe(src="assets/html/pure-css.html", width="500", height="450")
  p.source
    a(href="http://darcyclarke.me/dev/html5/") Source: Darcy Clarke


section(data-state="lab")
  h2 Lab: Transitions

  p Add CSS transitions to the proposed page