section.browser-support-container
  mixin browserSupport('4+', '2+', '3.1+','8+', '9.5+')
  h2 box-sizing
  p content-box | border-box | inherit
  pre
    code.
      * {
        box-sizing: border-box;
      }

section
  h2 box-sizing
  p content-box | border-box | inherit
  pre
    code.
      .box-model {
        width: 200px;
        height: 100px;
        padding: 20px;
        border-width: 10px;
      }
  style
    #ex-border-box > .box-model {
      width: 200px;
      height: 100px;
      display: inline-block;
      margin: 10px;
      padding: 20px;
      border: 10px solid #333;
      font-size: 16px;
      vertical-align: middle;
    }
    #ex-border-box > .content-box {
      box-sizing: content-box;
      line-height: 100px;
    }
    #ex-border-box > .border-box {
      box-sizing: border-box;
      line-height: 45px;
    }
  #ex-border-box
    .box-model.content-box.yellow-bg content-box
    .box-model.border-box.yellow-bg border-box
  p(style="margin-top:0.5em; font-size:80%") box-model history <a href="http://www.jefftk.com/news/2012-02-18">http://www.jefftk.com/news/2012-02-18</a>

section.browser-support-container
  mixin browserSupport('All', '7+', 'All', '6+', '9+')
  h2 text-overflow

  p text-overflow: <b>ellipsis | clip</b>

  pre
    code.
      p {
        width: 100px;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

  #ex-text-overflow(style="background:none;")
    style
      #ex-text-overflow p {
        white-space: nowrap;
        overflow: hidden;
      }
    p(style="text-overflow: ellipsis").
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore

section.browser-support-container
  mixin browserSupport('All', '4+', 'All', 'No', 'No')
  h2 resize

  p resize: <b>none | both | horizontal | vertical</b>

  pre
    code.
      div {
        <b>resize: both;
        overflow: scroll;</b>
      }
      textarea {
        <b>resize: none;</b>
      }

  #ex-resizable
    style
      #ex-resizable textarea {
        display: block;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
      }
    textarea(style="resize: none;") Unresizable
    textarea(style="resize: horizontal;") Horizontal
    textarea(style="resize: vertical;") Vertical