p {
	margin-bottom: 20px;
	text-align: justify;
}
#two-cols {
	margin-bottom: 20px;
	border: 1px solid #ccc; 
	padding: 10px 20px;
	background: #fff;
}
#two-cols div {
	clear: both;
	overflow: hidden;
}
#two-cols img {
	float: left;
	margin: 5px 10px 0 0;
}
#three-cols {
	border: 1px solid #ccc; 
	padding: 10px 20px;
	background: #fff;
}
#three-cols img {
	display: block;
	margin: 0 auto 15px;
}

