input {
	margin-right: 10px;
	border: none;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	background: transparent url('sprite.png') 0 0 no-repeat;
	text-transform: uppercase;
	height: 46px; 
	width: 125px; 
}
.blue{ background-position: 0 0; } 
.blue:hover{ background-position: -126px 0; } 
.gray{ background-position: -252px 0; } 
.orange{ background-position: -378px 0; width: 356px; } 
.orange:hover{ background-position: -735px 0; } 

