!!! 5
html
  head
    meta(charset='utf-8')
    block title
    link(rel='stylesheet', href='assets/css/lab-guide-style.css')
    link(rel='stylesheet', href='assets/css/zenburn.css')

  body
    .container
      nav
        h1 Index
        ul#index
          li
            a(href="#labs-introduction") How to use this lab guide
      block labs

    script
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-2309405-10']);
      _gaq.push(['_trackPageview']);
      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  script(src='assets/js/html5shiv.js')
  script(src='assets/js/highlight.js')
  script(src='assets/js/jquery-1.8.1.min.js')
  script(src='assets/js/bootstrap.min.js')
  //-
  //- Generate index
  //-
  script
    //- Section links  
    $('article > h1').map(function (i, section) {
      return $('<li></li>')
              .append($('<a></a>')
                      .text($(section).text())
                      .attr('href', '#' + $(section).attr('id') + '-collapse')
                      .attr('data-toggle', 'collapse')
                    )
              .append($('<div></div>')
                      .addClass('collapse')
                      .attr('id', $(section).attr('id') + '-collapse')
                      .append($('<ul></ul>').addClass($(section).attr('id') + '-labs-list'))
                    );
    }).appendTo('#index');

    //- Labs links inside collapsables  
    $('article > h1 ~ h2').each( function (i, section) {
      var parentHeaderId = $($(section).parent().children()[0]).attr('id');
      $('ul.' +  parentHeaderId  + '-labs-list')
        .append($('<li></li>').append($('<a></a>')
          .attr('href', '#' + $(section).attr('id'))
          .text($(section).text())
        ));
    });
    //- Highlighting
    window.hljs.initHighlightingOnLoad();