//- Color function helper
//- @param {Number} R Amount of red (integer scale 0-255)
//- @param {Number} G Amount of green (integer scale 0-255)
//- @param {Number} B Amount of blue (integer scale 0-255)

//- @return {Object} An object containing the hex and rgb strings 
//- for CSS styling, and the amount of each color as introduced

-var Color = function (R, G, B) {
  -var container = {};

  -var toHex = function (dec) {
    -if(dec < 16) {
      -return '0' + dec.toString(16);
    -}
    -return dec.toString(16);
  -}
  -var red = toHex(R);
  -var green = toHex(G);
  -var blue = toHex(B);

  -container.hex = '#' + red + green + blue;

  -container.R = R;
  -container.G = G;
  -container.B = B;

  -container.rgb = 'rgb(' + R + ',' + G + ',' + B + ')';

  -return container;
-}

- var ourBlue = Color(0, 150, 175);
- var ourBrown = Color(105, 75, 60);
- var ourRed = Color(205, 50, 65);
- var ourOrange = Color(235, 105, 65);
- var ourYellow = Color(235, 200, 80);