h1, h2 {
	font-size: 24px;
}
h2 {
	margin-bottom: 6px;
}
#header, #main {
	margin-bottom: 12px;
	padding: 10px 0;
	border-bottom: 1px solid #ddd;
}
ul, #info {
	display: inline-block;
	vertical-align: top;
}
ul#nav {
	padding: 5px 6px;
	width: 132px;
	font-size: 12px;
	background-color: #fafafa;
}
ul#articles {
	list-style: none;
	margin-bottom: 0;
	padding: 0 12px;
	width: 552px;
}
#info {
	padding: 5px 6px;
	width: 180px;
	min-height: 300px;
	background-color: #fafafa;
}
#footer {
	padding-bottom: 10px;
	font-size: 11px;
	color: #666;
	text-align: center;
}
ul#articles li {
	margin: 0 0 22px 0;
	font-size: 14px;
}
span {
	font-size: 11px;
	color: #666;
}
#nav li {
	margin: 0 0 10px 1.3em;
	list-style: outside disc;
}
.more-info {
	font-size: 11px;
}
